<section id="navbar">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
		
        <%= link_to t("stock.dashboard.title"), "#", :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
			    <li <%= 'class=active' if active == :stock_in %> ><%= link_to t("orders.in.index.link"), orders_in_index_path %></li>
			    <li <%= 'class=active' if active == :product %> ><%= link_to t("products.index.link"), products_path %></li>
			    <li <%= 'class=active' if active == :category %> ><%= link_to t("store_categories.index.link"), maintence_guara_store_categories_path %></li>
        </ul>
          
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->

  </div><!-- /navbar -->  
</section >