<%= javascript_include_tag "flot/jquery.flot", "flot/jquery.flot.selection" %>

<h3><%= t("stock.widget.overview.orders.in.title") %></h3>
<div id="stock_overview" style="width:600px;height:300px"></div>
<script language="javascript">
	
	d = [{ label: "<%= raw t("stock.widget.overview.chart.in.title") %>", data: <%= (4.weeks.ago.to_date..Date.today).map { |date| [date.day, Guara::Order.total_in_on(date).to_f]}.inspect %>
  },

			{ label: "<%= raw t("stock.widget.overview.chart.out.title") %>", data: <%= (4.weeks.ago.to_date..Date.today).map { |date| [date.day, Guara::Order.total_out_on(date).to_f]}.inspect %>
  }];
	d2 = [<%=  %>];	
	
	$.plot($("#stock_overview"), d, { xaxis: { mode: "time" } });
</script>