<% provide(:title, t("products.index.title")) %>

<%= render :partial => "header" %>

<div class="row">
	<div class="span9">
		<section id="index">
		  <div class="page-header">
			<%= t("search.results")%>
		  </div>

		  <table class="table table-bordered table-striped">
		    <thead>
		      <tr>
		      	<th><%= t("sku") %></th>
		        <th><%= t("name") %></th>
		        <th><%= t("description") %></th>
		        <th><%= t("available_on") %></th>
		        <th><%= t("price") %></th>
		        <th><%= t("stock_total") %></th>
		        <th width="15%"><%= t("helpers.forms.actions") %></th>
		      </tr>
		    </thead>
		    <tbody>
			<% @products.each do |p| %>
		      <tr class="<%= p.enabled == false ? 'warning' : '' %>">
		        <td><%= p.sku %></td>
		        <td><%= link_to p.name, product_path(p.id)  %></td>
		        <td><%= p.description  %></td>
		        <td>
		        	<%= p.available_on != nil ? p.available_on.strftime("%d/%m/%Y") : p.available_on %>
		        </td>
		        <td><%= number_to_currency(p.price, :locale => :br)  %></td>
		        <td><%= p.stock  %></td>
		        <td>
		        	<%= index_btn_view product_path(p.id), t("helpers.forms.show") %>
		        	<%= index_btn_edit edit_product_path(p.id), t("helpers.forms.edit") %>
		        </td>
		      </tr>
		    <% end %>

		    </tbody>
		  </table>
		</section>
	</div>
	<div class="span3">
		<%= render :partial => "form_search", :locals => { :mode => (params[:search_mode_advanced] ? :advanced : :simple)  } %>
	</div>
	<%= will_paginate %>
</div>