
<%= render :partial => "shared/guara/modal_delete", :locals => {:controller_path => "#{customer_task_path(@customer)}"}%>

<% if not @no_layout %>
<%= render :partial => "header" %>
<% end %>

<section class="show">

<ul class="thumbnails">
  <li class="span5">
    <div class="thumbnail">
      <div class="caption">
		<legend><%= t("tasks.show.title", task: name_or_empty(@task) ) %></legend>
		<h4><%= name_or_empty(@task.type) %></h4>
	  </div>
	  <div class="row">
		<div class="span4">

		  <div class="control-group">
            <%= show_label_tag t('tasks.due_time') %>
			<%= format_datetime(@task.due_time) %>
          </div>

          <div class="control-group">
          	<%= show_label_tag t('tasks.type') %>
          	<%= name_or_empty@task.type %>
          </div>

          <div class="control-group">
          	<%= show_label_tag t('task.contact') %>
          	<%= name_or_empty@task.contact %>
          </div>

          <div cladd="control-group">
          	<%= show_label_tag t('task.assigned') %>
          	<%= name_or_empty@task.assigned %>
          </div>

          <div cladd="control-group">
            <%= show_label_tag t('task.notes') %>
            <%= simple_format@task.notes %>
          </div>

		  <div class="control-group">
            <%= show_label_tag t('tasks.status') %>
			<%= name_or_empty(@task.status) %>
          </div>

		</div>
	</div>
  </li>
  <li class="span5">
    <div class="thumbnail">
      <div class="caption">
		<legend><%= t("feedbacks.side.title") %></legend>
	  </div>
	  <div class="row">
		<div class="span4">
			<%= render :partial => "guara/task_feedbacks/side_panel" %>
		</div>
	  </div>
	</div>
  </li>
</ul>
</section>

<%= link_to t('helpers.forms.edit'), edit_customer_task_path(@customer, @task) %> |
<%= link_to t('helpers.forms.back'), customer_tasks_path(@customer) %> |
<%= link_to t("helpers.forms.destroy"),
                      "javascript:void(0);",
                      :method => :delete,
                      :dataurl => customer_task_path(@customer),
                      :modal_message => "Você realmente quer apagar esta tarefa?</b>",
                      :class => 'delete-confirm' %>

<script type="text/javascript">
  
  var d = $("#modal-confirm");
  $.fn.extend({
    center: function () {
      return this.each(function() {
        var top = ($(window).height() - $(this).outerHeight()) / 2;
        var left = ($(window).width() - $(this).outerWidth()) / 2;
        $(this).css({position:'absolute', margin:0, top: (top > 0 ? top : 0)+'px', left: (left > 0 ? left : 0)+'px'});
      });
    }
  });

  $("#modal-confirm").toggle(false);
  $("#modal-confirm #modal-cancel, #modal-confirm a.close").click(function (e) {
    d.modal('toggle');
    return true;
  });

  $("#modal-confirm #modal-accept").click(function (e) {
    d.modal('toggle');
    return true;
  });

  $('.delete-confirm').click(function(e) {
    e.preventDefault();
    d.modal('toggle');

    var me  = $($(this)[0]),
    url   = '#',
    title   = 'Confirmarção',
    message = '';

    if(me.attr('data_url')){
      url = me.attr('dataurl');
    }

    if(me.attr('modal_title')){
      title = me.attr('modal_title');
    }

    if(me.attr('modal_message')){
      message = me.attr('modal_message');
    }

    $('#modal-accept').attr('href', url);
    
    $("#myModalLabel").html(title);
    var msg = $($("#modal-confirm div.modal-body p"));
    msg.html(message);
  });

</script>