<h2><%= @current_step.name %></h2>

<%= semantic_form_for :step_instance_attrs, 
	:url => process_instance_path(@process_instance), 
	:html => {:class => "well", :onsubmit=> "return validate()"}, :method => "put"  do |f| %>
	
	<div class="row-fluid">
	<div class="span3" id="form_sidebar">
		
		<ul class="nav nav-tabs nav-stacked" id="form_navbar">		
		<% @grouped_column_attrs.each do |group, column_attrs| %>
		  <li><a href="#form_group_<%= group.gsub(/[^A-z]/, '').tableize() %>"><i class="icon-chevron-right"></i> <%= t("jobs.process_instance.attrs_group.#{group}") %></a></li>
		<% end %>
		</ul>
	</div>
		<div class="span8" id="form_fields">
		<% @grouped_column_attrs.each do |group, column_attrs| %>
			<a id="form_group_<%= group.gsub(/[^A-z]/, '').tableize() %>"></a>
			<fieldset>
				<legend><%= t("jobs.process_instance.attrs_group.#{group}") %></legend>
				<% column_attrs.each do |column, attrs| %>
					<div class="span<%= 8/column_attrs.size() %>">
					<% attrs.each do |step_attr| %>
						<%= instance_process_field(f, @process_instance, step_attr) %>
					<% end %>
					</div>
				<% end %>
			</fieldset>
		<% end %>
		</div>
		
	</div>

    <%= f.hidden_field "step_id", :value => @current_step.id %>
    <%= f.submit 'Salvar', class: "btn btn-large btn-primary" %>
<% end %>

<script type="text/javascript">
	$(function() {
		$('.date_format').datepicker($.datepicker.regional['pt-BR']);

		var offset = {
      top: $('#form_navbar').offset().top - $('#form_navbar').height(),
			bottom: 400
    };
    $('#form_navbar').affix({
      offset: offset
    });
		console.log(offset);
		
		
		$(document.body).scrollspy({
			target: "#form_sidebar"
		});

		function validate(){
			<%= process_instance_js_required_fields(@current_step) %>
			return true;
		}
		

	});
</script>
<style>
	#form_navbar.affix {
		margin-top: -475px;
		width: 210px;
	}
</style>



