<h2><%= @current_step.name %></h2>

<%= semantic_form_for :step_instance_attrs, 
	:url => process_instance_path(@process_instance), 
	:html => {:class => "well", :onsubmit=> "return validate()"}, :method => "put"  do |f| %>
	

		<div class="row-fluid">
			<% total_spans = 12 %>
			<% if @grouped_column_attrs_current_step.size > 1 %>
				<% total_spans = 8 %>
				<div class="span4" id="form_sidebar">
					<ul class="nav nav-tabs nav-stacked" id="form_navbar">		
					<% @grouped_column_attrs_current_step.each do |group, column_attrs| 
						if group.to_s.gsub(/[^A-z]/, '').tableize() != 'defaults'
					%>
					  <li><a href="#form_group_<%= group.to_s.gsub(/[^A-z]/, '').tableize() %>"><i class="icon-chevron-right"></i> <%= t("jobs.process_instance.attrs_group.#{group}") %></a></li>
					<% 
						end
					end %>
					</ul>
				</div>
			<% end %>
			
			<div class="span<%=total_spans%>" id="form_fields">
			<% @grouped_column_attrs_current_step.each do |group, column_attrs| 
				group = ' ' if group.nil? %>
				<a id="form_group_<%= group.to_s.gsub(/[^A-z]/, '').tableize() %>"></a>
				<fieldset>
					<legend><%= t("jobs.process_instance.attrs_group.#{group}") %></legend>
					<% column_attrs.each do |column, attrs| %>
						<div class="span12">
						<% attrs.each do |step_attr| %>
							<%= instance_process_field(f, @process_instance, step_attr) %>
						<% end %>
						</div>
					<% end %>
				</fieldset>
			<% end %>
			</div>
		</div>

	<%= f.hidden_field "step_id", :value => @current_step.id %>
    <% unless @embedded %>
	    <%= f.submit 'Salvar', class: "btn btn-large btn-primary" %>
    <% end %>
<% end %>

<script type="text/javascript">
	//$(function() {
		$('.date_format').datepicker($.datepicker.regional['pt-BR']);
		//offs = $('#form_navbar').offset();

		var offset = {
	      	top: 30,
			bottom: 400
	    };
	    $('#form_navbar').affix({
	      offset: offset
	    });
		
		$(document.body).scrollspy({
			target: "#form_sidebar"
		});

		function validate(){
			<%= process_instance_js_required_fields(@current_step) %>
			return true;
		}
		
	//});
	
</script>
<style>
	#form_navbar.affix {
		/*margin-top: -475px;*/
		margin-top: -1110px;
		width: 210px;
	}
</style>
<script type="text/javascript">
	$('.phone').mask('(99) 9999-9999');
	$('.time').mask('99:99');
	$('.price').priceFormat({
	    prefix: 'R$ '
	});
</script>


