
<section class="show">
	
	<ul class="thumbnails">
		<li class="span9">
			<h2><%= @process_instance.step.name %></h2>
			<div class="thumbnail" style="padding:10px;">
				<%= render :partial => 'details_initial_stage', :locals=> {:vals=> @vals} %>

				<div class="row offset1">
					<%= link_to 'Editar ' + @process_instance.step.name, edit_process_instance_path(@process_instance), :class=> "btn" %>  
					<%= link_to 'Proxima Etapa ' + @process_instance.step.parent.name, process_instance_alter_state_process_instance_path(:id=> @process_instance.id, :state=> @process_instance.step.parent.id), :class=> "btn" if @process_instance.step.parent != nil %> 
				</div>
			</div>
		</li>

		<li class="span3">
			<h2><%= t('jobs.process_instance.steps') %></h2>
			<div class="thumbnail">
				<% @step_order.each do |s| %>
				<%= link_to s.name, process_instance_show_step_path(:id=> @process_instance.id, :edit_step=> s.id), :class=> "btn btn-block" %> 
				<% end %>
			</div>
		</li>
	</ul>

	<%= link_to t('helpers.forms.back'), process_instance_index_path, :class => "btn" %>		
</section>

