

<navbar>
	<%= render :partial => "guara/jobs/jobs/navbar", :locals => { active: :announcement_of_vacancies } %>
</navbar>
		
<section class="show">

	<ul class="thumbnails">
		<li class="span9">
				<h2><%=@process_instance.custom_process.step.name %></h2>
				<div class="thumbnail <%= 'hide' if @process_instance.custom_process.step == @current_step %>" style="padding:10px;">
					<%= render :partial => 'details_initial_stage', :locals=> {:grouped_column_attrs_step_init=> @grouped_column_attrs_step_init, :no_button=> true } %>
				</div>

			<h2><%=@step_previous.name %></h2>
			<div class="thumbnail" style="padding:10px;">
				<%= render :partial => 'details_current_stage', :locals=> {:grouped_column_attrs_current_step=> @grouped_column_attrs_current_step, :no_button=> true } %>
				
				<div class="row offset1">
					<% if @process_instance.custom_process.enabled == true %>
						<%= link_to 'Editar ' + @step_previous.name, edit_process_instance_path(@process_instance, edit_step: @step_previous.id), :class=> "btn" %>  
						<%= link_to 'Proxima Etapa ' + @step_previous.parent.name, edit_process_instance_path(:id=> @process_instance.id), :class=> "btn" if !@step_previous.parent.nil? %> 
					<% end %>	
				</div>
			</div>
		</li>

		<li class="span3">
			<%= render :partial => @process_instance.custom_process.hook.widget_show.to_s if @process_instance.custom_process.has_hook? && 
						!@process_instance.custom_process.hook.widget_show.to_s.empty? %>
		</li>

		<li class="span3">
			<h2><%= t('jobs.process_instance.steps') %></h2>
			<div class="thumbnail">
				<% @step_order.each do |s| %>
				<% next if @step_values_invalid == true and s == @process_instance.step %>
				<%= link_to s.name, process_instance_show_step_path(:id=> @process_instance.id, :edit_step=> s.id), :class=> "btn btn-block"  %> 
				<% end %>
			</div>
		</li>
	</ul>

	<%= link_to t('helpers.forms.back'), process_instance_index_path, :class => "btn" %>		
</section>

