<h1>Listing system_extensions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_extensions.each do |system_extension| %>
  <tr>
    <td><%= system_extension.name %></td>
    <td><%= system_extension.enabled %></td>
    <td><%= link_to 'Show', system_extension %></td>
    <td><%= link_to 'Edit', edit_system_extension_path(system_extension) %></td>
    <td><%= link_to 'Destroy', system_extension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New System extension', new_system_extension_path %>
