<h1>Listing system_extensions</h1>


  
<table>
  <tr>
    <th>Name</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_extensions.each do |system_extension| %>
  <tr>
    <td><%= system_extension.name %></td>
    <td><%= system_extension.enabled %></td>
    <div class="btn-group">
      <td><button class="btn"><%= link_to 'Show', system_extension %></button></td>
      <td><button class="btn"><%= link_to 'Edit', edit_system_extension_path(system_extension) %></button></td>
      <td><button class="btn"><%= link_to 'Destroy', system_extension, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
    </div>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New System extension', new_system_extension_path %>
