.page-header= t("customers.index.title")
= form_for :search, :object => @search, :html => { :class => "well form-search", :method => :get } do |f|
  / fieldset
  .container
    .control-group
      = f.label :department_name_contains, t("contacts.department"), :class => "control-label"
      .controls
        = f.text_field :department_name_contains, :class => "span3"

      = f.label :business_function_contains, t("contacts.business_function"), :class => "control-label"
      .controls
        = f.text_field :business_function_contains, :class => "span3"

      .control-group
        = label_tag :customer_customer_segment, t("helpers.label.customers.search.segment"), :class => "control-label"
        .controls
          = f.select(:customer_customer_guara_customer_pj_type_activities_business_segment_id_in,                                                                                          |
            options_from_collection_for_select([] + Guara::BusinessSegment.all, :id, :name, params[:search][:customer_customer_guara_customer_pj_type_activities_business_segment_id_in]), |
            {},                                                                                                                                                                   |
            { :multiple => true,                                                                                                                                                  |
            :style => "width: 206px;",                                                                                                                                            |
            :placeholder => t("customer_pjs.segments"),                                                                                                                           |
            :class => "multiselect"                                                                                                                                               |
            })                                                                                                                                                                    |
      .control-group
        = label_tag :activity, t("helpers.label.customers.search.activity"), :class => "control-label"
        .controls
          = f.select(:customer_customer_guara_customer_pj_type_activities_id_in,          |
            options_for_select([nil]) +                                          |
            options_from_collection_for_select(Guara::BusinessActivity.all,      |
            :id,                                                                 |
            :name,                                                               |
            params[:search][:customer_customer_guara_customer_pj_type_activities_id_in]), |
            {},                                                                  |
            { :multiple => true,                                                 |
            :style => "width: 206px;",                                           |
            :placeholder => t("customer_pjs.activities"),                        |
            :class => "multiselect"                                              |
            })                                                                   |
          %script{language: "javascript"}
            :cdata
              $("#search_person_guara_customer_pj_type_activities_id_in").select2({
              maximumInputLength: 10
              });
      .control-group
        = label_tag :customer_city_name_contains, t("helpers.label.customers.search.city"), :class => "control-label"
        .controls
          = f.text_field :customer_city_name_contains, :class => "span3"
      .control-group
        = label_tag :customer_customer_guara_customer_pj_type_total_employes, t("helpers.label.customers.search.employes_count"), :class => "control-label"
        .controls
          = f.multiparameter_field :customer_customer_guara_customer_pj_type_total_employes_btw, {:field_type => :number_field, :placeholder => t("commons.min"), :style => "width: 103px" }, {:field_type => :number_field, :placeholder => t("commons.max"), :style => "width: 103px"  }, :size => 5
      
      .control-group
        = label_tag :customer_is_customer, t("helpers.label.customers.search.is_customer"), :class => "control-label"
        .controls
          = f.check_box :customer_is_customer_is_true

      .control-group
        = label_tag :customer_enabled, t("commons.no")+" "+t("helpers.label.customers.search.enabled"), :class => "control-label"
        .controls
          = f.check_box :customer_enabled_is_false

      .control-group
        = label_tag :allow_marketing_is_true, t("contacts.allow_marketing"), :class => "control-label"
        .controls
          = f.check_box :allow_marketing_is_true

    .form-actions.span3
      = submit_tag t("helpers.forms.search"), :class => "btn btn-primary"
      - if (mode == :advanced) then
        = link_to t("helpers.forms.clear"), customers_path(:"search[none]" => true, :"search[mode_advanced]" => true), :class => "btn"
      - else
        = link_to t("searches.advanced"), customers_path(:"search[mode_advanced]" => true), :class => "btn"
    / /fieldset
:javascript
  $("[id$=autocomplete]").on("blur", function(e) {
    jobj = $(e.currentTarget);
    if (jobj.val() == "") {
      $(jobj.attr("data-id-element")).val("");
    }
  })


  $(".multiselect").select2({
    maximumInputLength: 10
  });