
<%= semantic_form_for [@contact.customer, @contact], :html => {:class => "well"}  do |f| %>
<%= render 'shared/guara/error_messages', object: f.object %>
<fieldset>
  <legend><%= title %></legend>

<div class="container">
  <div class="span6 ">
    <div class="control-group">
      <%= f.label :name %>	  
      <div class="control">
        <%= f.text_field :name %>		
      </div>
    </div>

    <div class="control-group">
      <%= f.label :business_function %>
  	  <div class="control-group">
        <%= f.text_field :business_function %>		
  	  </div>
	  </div>

    <div class="control-group">
      <div class="control-group">
        <%= f.input :department %>	  
      </div>
		</div>

    <div class="control-group">
      <%= f.label :birthday %>	  
	    <div class="control">
        <%= f.text_field :birthday %>		
	    </div>
	  </div>
	
      <div class="control-group">
        <%= f.label :phone %>	  
        <div class="control">
          <%= f.text_field :phone %>		
        </div>
      </div>

      <div class="control-group">
        <%= f.label :cell %>	  
        <div class="control">
          <%= f.text_field :cell %>		
        </div>
      </div>

      <div class="control-group">
        <%= f.label :birthday %>	  
        <div class="control">
          <%= f.text_field :birthday %>		
        </div>
      </div>

    </div>

		<div class="span4">
			
      <div class="thumbnail" id="emails">
				<%= t("contacts.emails").titleize %>
			  <%= render :partial => 'active_extend/one_to_many_inputs', 
					:locals => { 
						:values => @contact.emails, 
						:form => f, 
						:target => :emails,
						:inputs => { 
							:email => { 
								:as => :string, 
								:class => "span2", 
								:label => false, 
								:placeholder => "e-mail", 
								:glyph => "icon-envelope" 
							} 
						},
            :options => {
              add_class: "btn btn-block"
            } 
  			   } %>
			</div>
      
		</div>
</div>

<div>
    <%= f.submit class: "btn btn-primary" %>
</div>

</fieldset>
<% end %>