<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#index" data-toggle="tab"><%= t("contacts.index.link") %></a></li>
  <li><a href="#edit" data-toggle="tab"><%= t("contacts.index.edit") %></a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="index">
		<% if @contacts %>
		  <table class="table table-bordered table-striped">
		    <thead>
		      <tr>
		        <th class="span3"><%= t("contacts.name") %></th>
		        <th class="span2"><%= t("contacts.department") %></th>
		        <th class="span2"><%= t("contacts.business_function") %></th>
		        <th class="span2"><%= t("contacts.phone") %> / <%= t("contacts.cell") %></th>
		        <th class="span3"><%= t("contacts.emails") %></th>
		        <th class="span1"><%= t("helpers.forms.actions") %></th>
		      </tr>
		    </thead>
		    <tbody>
		    <% @contacts.each do |contact| %>
		      <tr>
		      <td><%= contact.name %></td>
		      <td><%= name_or_empty contact.department %></td>
		      <td><%= contact.business_function %></td>
		      <td><%= contact.phone %></br><%= contact.cell %></td>
		      <td><%= concat_emails(contact.emails) %></td>
		      
		      <td><%= index_btn_view [contact.customer, contact], "Exibir Contato" %></td>
		      </tr>
		    <% end %>
		    </tbody>
		  </table>
		<% end %> 
  </div>
  <div class="tab-pane" id="edit">
		<%= render :partial => "guara/contacts/list_editable" %>
	</div>
</div>


<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>
<br />