<% if @contacts %>
<section id="buttons">
  
  <legend><%= t("search.results")%></legend>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t("contacts.name") %></th>
        <th><%= t("contacts.department") %></th>
        <th><%= t("contacts.business_function") %></th>
        <th><%= t("contacts.phone") %></th>
        <th><%= t("contacts.cell") %></th>
        <th><%= t("contacts.emails") %></th>
        <th><%= t("helpers.forms.actions") %></th>
      </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
      <td><%= contact.name %></td>
      <td><%= name_or_empty contact.department %></td>
      <td><%= contact.business_function %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.cell %></td>
      <td><%= concat_emails(contact.emails) %></td>
      <td></td>
      <td><%= link_to t('helpers.forms.show'), [contact.customer, contact] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<%= will_paginate @contacts %>

<% end %>

<br />

<%= link_to t('helpers.forms.new')+' '+t('activerecord.models.contact'), new_customer_contact_path(params[:customer_id]), :class => "btn" %>
