<% if @contacts %>
<section id="buttons">
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t("contacts.name") %></th>
        <th><%= t("contacts.department") %></th>
        <th><%= t("contacts.business_function") %></th>
        <th><%= t("contacts.phone") %></th>
        <th><%= t("contacts.cell") %></th>
        <th><%= t("contacts.email") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
      <td><%= contact.name %></td>
      <td><%= name_or_empty contact.department %></td>
      <td><%= contact.business_function %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.cell %></td>
      <td><%= concat_emails(contact.emails) %></td>
      
      <td>
        <%= index_btn_view [contact.customer, contact], "Exibir Contato" %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<% end %>

<br />