%table.table.table-bordered.table-striped
  %thead
    %tr
      %th{:colspan => "4"}
        = t("helpers.label.customers.search.names")
        \:
        \#{deal.customer.name}
    %tr
      %th= t("contacts.title")
      %th= t("scheduleds.scheduled_at")
      %th= t("scheduleds.created_at")
      %th= t("scheduleds.activity")
      %th= t("scheduleds.situation")
  %tbody
    - (interactions).each do |interaction|
      %tr
        %td.contact_name= interaction.contact.name
        %td.scheduled_at= interaction.scheduled_at
        %td.scheduled_at= interaction.created_at
        %td.activity{ "scheduled_contact-id" => interaction.id }= interaction.activity
        %td.status= prepare_span_status(interaction).html_safe