%table#customer-deals.table.table-bordered.table-striped.deal.list.dataTable
  %thead
    %tr
      %th.span4= t("helpers.label.customers.search.names")
      %th= t("active_crm.scheduled_deals.date_start")
      %th 
      %th 
  %tbody
    - (@deals || []).each do |deal|
      %tr{"deal-id" => deal.id}
        %td= deal.customer.name
        %td= time_elapsed deal.date_start
        %td= deal.accepted_total
        %td