<% if local_assigns[:with_scheduled] %>
  <%= render :partial => 'guara/active_crm/scheduleds/navbar', locals: {active: :scheduled_deals} %>
  <%= render :template=> 'guara/active_crm/scheduleds/show' %>
<% end %>
<section id="active_crm_2">
  
  <h3><%= t("scheduleds.call_historic")  %></h3>
  <div class="row-fluid">
    <div class="thumbnail span12">
      <div class="caption">     
            
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th colspan="4">
                      <%= t("helpers.label.customers.search.names") %>: 
                      <%= @scheduled_deal.customer.name %>
                    </th>
                  </tr>
                  <tr>
                    <th><%= t("scheduleds.responsible") %></th>
                    <th><%= t("scheduleds.next_contact") %></th>
                    <th><%= t("scheduleds.activity") %></th>
                    <th><%= t("scheduleds.situation") %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @scheduled_deal.contacts.where(:enabled=> true).each do |scheduled_contact| %>
                    <tr>
                      <td><%= scheduled_contact.contact.name %></td>
                      <td><%= scheduled_contactscheduled_at %></td>
                      <td><%= scheduled_contact.activity %></td>
                      <td><%= prepare_span_status(scheduled_contact).html_safe %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table> 
          
      </div>
    </div>
  </div>
</section>