= javascript_include_tag 'guara/places'
= javascript_include_tag 'guara/gmaps_utils'
:css
  #iframe-map-canvas{
    height:250px;
    width: 100%;
    overflow: hidden;
    border: gray 1px solid;
    margin-top: 15px;
  }
.row-fluid
  %ul.thumbnails
    %li.thumbnail.span6
      = semantic_form_for @place do |f|
        = f.input :name
        = f.input :external_id
        = f.input :enabled, :label => false, :default => true
        = f.fields_for :address do |f_address|
          = f_address.input :address
          = f_address.input :complement
          = f_address.input :city
        = f.fields_for :geo do |f_geo|
          = f_geo.input :lat
          = f_geo.input :long
        = f.actions
    %li.span6
      .row-fluid
        .span12
          = text_field_tag :lat_lng, '', class: 'text_get_lat_lng'
          = link_to t('helpers.forms.search'), 'javascript:void(0);', id: :get_lat_lng, class: 'btn'
      .row-fluid
        .span12
          %iframe#iframe-map-canvas{frameborder: "0", name: "gmaps", src: gmaps_path }

:javascript
  $('#get_lat_lng').click(function(){
    var win_js = top.frames['gmaps'];
    var map = win_js.google_maps;

    var value = $('.text_get_lat_lng').val();

    if(!value.trim()==''){
      win_js.set_lat_lng(win_js, map, value);
    }
  });

  function GMaps_afterSetLocation(window, map) {
    $('#place_geo_lat').val(window.marker_location.lat());
    $('#place_geo_long').val(window.marker_location.lng());
    $('.guara_place input[type=submit]').removeClass('hidden');
  }

  Places.init({
    new_path: '<%= new_place_path( :format => :json ) %>'
  });

  function add_markers() {
    var win_js = top.frames['gmaps'];
    var map = win_js.google_maps;
    var lat = #{ @place.geo.lat || 0 };
    var long = #{ @place.geo.long || 0 };

    if (lat==0) {
      lat = win_js.gmaps_initialLocation.lat();
      long = win_js.gmaps_initialLocation.lng();
    }
    win_js.map_set_marker(win_js, map, new win_js.google.maps.LatLng(lat,  long), true);
  }