<h1>Listing tests_ajaxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ajaxes.each do |tests_ajaxis| %>
  <tr>
    <td><%= tests_ajaxis.name %></td>
    <td><%= tests_ajaxis.description %></td>
    <td><%= link_to 'Show', tests_ajaxis %></td>
    <td><%= link_to 'Edit', edit_tests_ajaxis_path(tests_ajaxis) %></td>
    <td><%= link_to 'Destroy', tests_ajaxis, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ajax', new_tests_ajaxis_path %>
