<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tests_ajaxis.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tests_ajaxis.description %>
</p>


<%= link_to 'Edit', edit_tests_ajaxis_path(@tests_ajaxis) %> |
<%= link_to 'Back', tests_ajaxes_path %>
