<%= semantic_form_for @supplier, :url => @supplier.new_record? ? supplier_index_path : supplier_path(@supplier), :html => {:class => "well"}  do |f| %>
<%= f.semantic_fields_for :person do |person_f| %>
<%= render 'shared/guara/error_messages', object: f.object %>
<fieldset>
	<legend><%= @supplier.new_record? ? t("suppliers.new.title") : t("suppliers.edit.title") %></legend>
	<div class="row">

		<%= f.input :complete, :label => false %>

		<div class="span4">
			<%= f.input :doc, :label => t("customer_pjs.doc") , :input_html => { :class => "cnpj" } %>
			<%= f.input :doc_rg, :label => t("customer_pjs.doc_rg") %>
			<%= f.input :name_sec, :label => t("customer_pjs.name_sec") %>
			<%= f.input :name, :label => t("customer_pjs.name") %>
			<%= f.input :postal, :input_html => { :class => "postal" } %>

			<div class="control-group">
				<%= f.label :state_id, t('customers.state'), :class => "control-label" %>
				<div class="controls">
					<%= f.collection_select(:state_id, Guara::State.order(:name), :id, :acronym, :include_blank => true) %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :city_id, t('customers.city'), :class => "control-label" %>
				<div class="controls">
					<%= f.collection_select(:city_id, Guara::City.order(:name), :id, :name, :include_blank => true) %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :district_id, t('customers.district'), :class => "control-label" %>
				<div class="controls">
					<%= f.collection_select(:district_id, Guara::District.order(:name), :id, :name, :include_blank => true) %>
				</div>
			</div>

			<%= f.input :address, :label => t('customers.address') %>
			<%= f.input :number, :label => t('customers.number') %>
		</div>

		<div class="span4 column2">
			<%= f.input :phone, :label => t('customers.phone'), :input_html => { :class => "phone" } %>
			<%= f.input :site, :label => t('customers.site') %>
			<%= f.input :social_link, :label => t('customers.social_link') %>
			<%= f.input :other_contacts, :label => t('customers.other_contacts') %>
			<%= person_f.input :fax, :label => t('customers.fax'), :input_html => { :class => "phone" } %>
			<%= f.input :notes, :label => t('customers.notes'), :as => :text, :input_html => { rows: 2  } %>
		</div>
		
		<div class="span3 column2">	
			
			<div class="thumbnail emails_custumer">
				<%= t("customers.emails").titleize %>
				<%= render :partial => 'active_extend/one_to_many_inputs', 
				:locals => { 
					:values => @supplier.emails, 
					:form => f, 
					:target => :emails,
					:inputs => { 
						:email => { 
							:as => :string, 
							:class => "span2", 
							:label => false, 
							:placeholder => "e-mail", 
							:glyph => "icon-envelope" 
						} 
					},
					:options => {
							add_class: "btn btn-block"
					}
				} %>
			</div>


		</div>
		
		<div class="span8">
			<div class="form-actions">
				<%= f.submit :class => "btn btn-primary" %>
				<%= link_to_function t("helpers.forms.cancel"), "history.back()", :class => "btn" %>
			</div>
		</div>
	</div>
</fieldset>
<% end %>
<% end %>

<script>

$(function(){
	
	$("input.cnpj").mask("99.999.999/9999-99");
	$("input.cpf").mask("999.999.999-99");
	$("input.phone").mask("99.9999-9999");
	$("input.postal").mask("99.999-999");

	function get_value_for_text(select_id, text){
		$('#'+select_id+' option').each(function(index, attr){
			if($(attr).text().toLowerCase()==text.toLowerCase()){
				$('#'+select_id).val($(attr).val());
			}
		});
	}

	function set_options_for_select(select_id, response, callback){
		var options = '<option value=""></option>';	
		for (var i = 0; i < response.length; i++) {
			options += '<option value="' + response[i].id + '">' + response[i].value + '</option>';
		}	
		$('#'+select_id).html(options).show();

		if(typeof callback == 'function'){
			callback();
		}
	}

	$("#person_postal").blur(function(){
		var cep = $("#person_postal").val().replace(/\D/g, '');
		$.getJSON('http://cep.correiocontrol.com.br/'+cep+'.json', function(response){
			get_value_for_text('person_state_id', response.uf);
			get_value_for_text('person_city_id', response.localidade);
			get_value_for_text('person_district_id', response.bairro);
			$('#person_address').val(response.logradouro);
		});
	});
	

	$("form.guara_person").submit(function() {
		$("input.postal").val($("input.postal").val().replace(/\D/g, "")).unmask();
	})
});

</script>