<div class="row">
  <div class="span6 offset3">
    <%= semantic_form_for(@user) do |f| %>
      <%= render 'shared/guara/error_messages', object: f.object %>

      <%= f.input :name %>
      <%= f.input :email %>

      <%= f.input :password, as: :password %>

      <%= f.input :password_confirmation, as: :password %>

			<%= f.input :primary_group %>
			
			<%= f.input :secundary_groups, :input_html => { class: "multiselect btn-block" } %>

      <%= f.actions %>
    <% end %>
  </div>
</div>