<div class="row">
  <div class="span6 offset3">
    <%= semantic_form_for(@user) do |f| %>
      <%= render 'shared/guara/error_messages', object: f.object %>

      <%= f.input :name %>
      <%= f.input :email %>

      <%= f.input :password, as: :password %>

      <%= f.input :password_confirmation, as: :password %>
      
      <% if defined?(Guara::CampanyBranch) %>
			<%= f.input :primary_company_business %>
      <% end %>
			<%= f.input :primary_group %>
			
			<%= f.input :secundary_groups, :input_html => { class: "multiselect btn-block" } %>

      <hr />

      <%= f.input :primary_company_branch %>

      <%= f.input :company_branches %>
      
      <%- @partials_form.each do |partial| %>
        <%= render partial, :locals => { user: @user, form: f } %>
      <%- end %>

      <%= f.actions %>
    <% end %>
  </div>
</div>