
<section id="navbar">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        
		    <%= link_to navbar_title==nil ? t("users.title") : navbar_title, "#", :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
  			    <li <%= 'class=active' if active == :search %> ><%= link_to t("users.all"), users_path %></li>
  			    <li <%= 'class=active' if active == :new %> ><%= link_to t("users.new.link"), new_user_path %></li>
          </ul>
          
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
</section >
