<%= render :partial => "navbar", :locals => { :active => :index } %>

<% provide(:title, 'All users') %>		

<%= render :partial => "navbar", :locals => { :active => :new } %>


<table class="table table-bordered table-striped">
<thead>
  <tr>
  	
    <th><%= t("users.title") %></th>
    <th><%= t("users.email") %></th>
    <th>Último Acesso</th>
    <th>Administrador</th>
  </tr>
</thead>
<tbody>
	<% @users.each do |c| %>
	<tr>
	    <td><%= gravatar_for c %><%= link_to c.name, user_path(c)  %></td>
	    <td><%= c.email %></td>
	    <td><%= c.last_sign_in_at %></td>
	    <td>
	    	<span class="label <%= c.admin == true ? 'label-success' : 'label-important'%>" >
	    		<%= c.admin == true ? "Sim" : "Não"%>
	    	</span>
	    </td>
	</tr>  
	<% end %>
</table>
</tbody>

<%= will_paginate %>