<div style="padding:10px;">
	<table class="table table-bordered table-striped">
	    <thead>
	      <tr>
	        <th><%= t("interviewer_professionals.id") %></th>
	        <th><%= t("interviewer_professionals.professional_id") %></th>
	        <th><%= t("interviewer_professionals.date_time_interviewee") %></th>
	        <th><%= t("vacancy_synthesis_professional.avaliate_interview") %></th>
	        <th><%= t("vacancy_synthesis_professional.synthesis") %></th>
	      </tr>
	    </thead>
	    <tbody>
		<% @interviewer_professionals.each do |p| %>
	      <tr>
	      	 <th><%= p.id %></th>
	      	 <th><%= p.professional.person.name %></th>
	      	 <th><%= !p.date_time_interviewee.nil? ? format_datetime p.date_time_interviewee : "" %></th>
	      	 <th><%= Guara::Jobs::LevelAvaliation.levels_translated()[p.avaliate] %></th>
	      	 <th id="professional_synthesis_<%= p.id2 %>">
	      	 	
	      	 <%	vacancy_synthesis = Guara::Jobs::VacancyProfessionalsInterview.where(:scheduling_id=>p.id).last()
	  	 		if vacancy_synthesis.synthesis.nil? %>
	  	 			<span class="badge badge-important">Não</span>
	  	 		<% else %>
	  	 			<span class="badge badge-success">Sim</span>
	  	 		<% end
	  	  	%>
	      	 </th>
	      </tr>
	    <% end %>

	    </tbody>
	</table>
</div>	 

<script type="text/javascript">
	
</script>