<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business_department.name %>
</p>

<p>
  <b>Enabled:</b>
  <%= @business_department.enabled %>
</p>


<%= link_to 'Edit', edit_business_department_path(@business_department) %> |
<%= link_to 'Back', business_departments_path %>

<div class="navbar">
  <div class="navbar-inner">

	<ul class="nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
	</ul>
  </div>
</div>