<% if @json %>
<%= render :partial => "header" %>
<% end %>
<section class="show">

<ul class="thumbnails">
  <li class="span9">
    <div class="thumbnail">
      <div class="caption">
		<legend><%= t("contacts.show.title") %></legend>
	  </div>
	  <div class="row">
		<div class="span4">

		  <div class="control-group">
            <%= show_label_tag t('contacts.name') %>
			<%= @contact.name %>
          </div>

		  <div class="control-group">
            <%= show_label_tag t('contacts.departament') %>
			<%= name_or_empty @contact.department %>
          </div>

		  <div class="control-group">
            <%= show_label_tag t('contacts.business_function') %>
			<%= @contact.business_function %>
          </div>

		  <div class="control-group">
            <%= show_label_tag t('contacts.phone') %>
			<%= @contact.phone %>
          </div>

		  <div class="control-group">
            <%= show_label_tag t('contacts.cell') %>
			<%= @contact.cell %>
          </div>

		  <div class="control-group">
            <%= show_label_tag t('contacts.birthday') %>
			<%= @contact.birthday %>
          </div>

		</div>
	</div>
  </li>
</ul>
</section>
<% if @json then @new_target = { target: 'new' } end %>
<%= link_to t('helpers.forms.edit'), edit_customer_contact_path(@contact.customer, @contact), @new_target %> |
<%= link_to t('helpers.forms.back'), customer_contacts_path(@contact.customer), @new_target %>
