<%= semantic_form_for [@customer, @professional], 
:url => @professional.new_record? ? customer_professionals_path(@customer) : customer_professional_path(@customer, @professional), 
:html => {:onsubmit => "return validate()"}  do |f| %>

	<fieldset>

		<div class="row page-header">
			<legend class="span2"><small> <%=  t("jobs.professional.index.title") %></small></legend>
			
			<!-- HAVE JOB ? -->	
			<div class="span9 well have_jobs">
		    <%= f.input :have_job, :label => t("jobs.professional.have_job"),
		    	:as => :radio, 
		    	:class => "well" %><!-- END DIV HAVE JOB ? -->
		    </div>
		</div>

		<!-- VACANCY SPECIFICATION -->
	    <%= f.semantic_fields_for :vacancy_specification, @professional.vacancy_specification do |specification_f| %>

	        <div class="row page-header">
	        	<legend class="span2"><small><%=  t("jobs.professional.business_action") %></small></legend>

	        	<div class="span9 well business-action">
		        	<% Guara::Jobs::BusinessAction.all.each do |ba| %>
			        	<ul>
			        		<li><h3><%= ba.name %></h3></li>
			        		<% Guara::Jobs::Role.where(business_action_id: ba.id).each do |r| %>
			        			<li>
			        				<%= check_box_tag "roles[]", r.id, @professional.vacancy_specification.roles.include?(r), :id => "role_%d" % r.id  %>
			        				<%= label_tag "role_%d" % r.id, r.name %>
			        			</li>
			        		<% end %>

			        	</ul>
		        	<% end %>
	        	

	        	<%= specification_f.input :salary_requirements,
	        		:label => t("jobs.professional.salary_requirements"),
	        		:as => :string,
	        		:input_html => {:class => "control-label", :maxlength => 15 } %>

	        	</div>

	        </div>
	    <% end %><!-- END VACANCY SPECIFICATION -->

	    <!-- FORMATION -->
		<div class="row page-header formation">
			<legend class="span2"><small><%=  t("jobs.professional.formation") %></small></legend>
			
			<div class="span9 well">
	  			<%= render :partial => 'active_extend/one_to_many_inputs', 
					:locals => { 
						:values => @professional.formations, 
						:form => f, 
						:target => :formations, 
						:inputs => { 
							:level_education => {
								:label => t("jobs.professional.level_education"),
								:collection => Guara::Jobs::LevelEducation.all,
								:class => "span2",
							},

							:course => { :label => t("jobs.professional.course") },

							:name_institution => { 
								:label => t("jobs.professional.name_institution")},

							:situation => {
								:collection => ["Concluído","Andamento", "Cancelado","Trancado"],
								:label => t("jobs.professional.situation")},

							:date_conclusion => { 
								:input_html => { 'data-behaviour' => 'datetimepicker' },
								:label => t("jobs.professional.date_conclusion") },

							:description => {
								:input_html => { :rows => 5,  :maxlength => 300, },
								:label => t("jobs.professional.description") }
						},
						:options => {
							add_class: "btn btn-block btn-inverse"
						},

				}
				%>	
			</div>
		</div><!-- END FORMATION -->

		<!--EXPERIENCE PROFESSIONAL-->

		<div class="row page-header professional_experiences">
			<legend class="span2"><small><%=  t("jobs.professional.professional_experience") %></small></legend>
				
			<div class="span9 well">

	  			<%= render :partial => 'active_extend/one_to_many_inputs', 
					:locals => { 
						:values => @professional.professional_experiences, 
						:form => f, 
						:target => :professional_experiences, 
						:inputs => { 
							:company_name => { 
								:label => t("jobs.professional.company_name")
								},

							:career => {
								:lambda => lambda do |experiences_f, index|

										render :partial => "guara/jobs/professionals/form_professional_experiences_career", :locals => { form: experiences_f, index: index }		
								end
							},
						},

						:options => {
							add_class: "btn btn-block btn-inverse"
						}
					}
				%>
			</div>
		</div><!-- END EXPERIENCE PROFESSIONAL-->


		<div class="row page-header">
			<legend class="span2"><small> <%=  t("jobs.professional.languages") %></small></legend>
			
			<div class="span9 well language">
	        	<% Guara::Jobs::Language.all.each do |l| %>
		        	<ul>
		        		<li>
	        				<%= check_box_tag "languages[]", l.id, @professional.languages.include?(l), :id => "language_%d" % l.id  %>
	        				<%= label_tag "language_%d" % l.id, l.name %>
		        		</li>
		        	</ul>
		        <% end %>
			</div><!-- LANGUAGES -->

		<%= f.submit class: "btn  btn-primary" %> 

		<%= link_to t('helpers.forms.back'), @professional.new_record? ? customer_path(@customer) : customer_professional_path(@customer), :class => "btn back_jobs" %>

	</fieldset>

<% end %><!-- END FORM -->

<script type="text/javascript">
    $(function(){
    	$('#jobs_professional_vacancy_specification_attributes_salary_requirements').priceFormat({
		    prefix: 'R$ '
		});
   	})

    function validate(){
    	var salary_requirements = $("#jobs_professional_vacancy_specification_attributes_salary_requirements");
    	salary_requirements.val($.trim(salary_requirements.val().replace(/,/g, '').replace('R$', '')));
    	return true;
    }





    </script>

