<table class="table table-bordered table-striped">
				<thead>
					<tr>
					<th class="span3"><%= t("jobs.professional.names.title") %></th>
					<th class="span3"><%= t("jobs.professional.business_action_roles.title") %></th>
					<th class="span2"><%= t("helpers.forms.actions") %></th>
					</tr>
				</thead>	
				<tbody>
					<% @professionals.each do |p| %>
						<tr>
							<td><%= p.person.name %></td>
							<td>
								<ul><% business_action_last = nil %>
									<% p.vacancy_specification.roles.joins(:business_action).order('guara_jobs_business_actions.name').each do |r| %>
										<h5>
										<% if (business_action_last.nil? || business_action_last.id != r.business_action.id)%>
										<%= r.business_action.name %> :
										<% end %>
										</h5>
										<li>- <%= r.name %><br></li>
										<% business_action_last = r.business_action %>
									<% end %>
								</ul>
							</td>
							<td>
								
								<%= index_btn_view customer_professional_path(p.person_id, p), "Exibir Profissional" %>

								<%= index_btn_select 'javascript:void(0);', :title => "Selecionar Profissional", :onClick=> "setProfessionalToSelect2(#{p.id}, '#{p.person.name}', 'btn_professional_select_#{p.id}');", :id => "btn_professional_select_#{p.id}" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>