<section class="show guara_jobs_professional show_professional">

	<%= render :partial => "/guara/customers/navbar", :locals => { :active => :professional } %>
	<%= render :partial => "/guara/customers/modules", :locals => { :active => :professional } %>

		<div class="row page-header have_jobs">
			<legend class="span2"><small><%=  t("jobs.professional.index.title") %></small></legend>
				
				<div class="span9 well">	
					<dt><%= t("jobs.professional.have_job.title") %>	 </dt>
			    	<dd><%= yes_or_no @professional.have_job %></dd>
			</div>
		</div>
		  
        <div class="row page-header">
			<legend class="span2"><small><%=  t("jobs.professional.business_action.title") %></small></legend>

		    <div class="span9 well">
					<% @professional.vacancy_specification.roles.each do |b| %>
						<li><dt><%= b.business_action.name %>: <br></dt>
						<dd><%= b.name %></dd></li>
					<% end %>
					<li><dt><%=  t("jobs.professional.salary_requirements.title") %>: </dt>
					<%= @professional.vacancy_specification.salary_requirements %></li>
			</div>
		</div>

		<div class="row page-header">
			<legend class="span2"><small><%=  t("jobs.professional.formation.title") %></small></legend>

		    <div class="span9 well">

		    			<% @professional.formations.each do |f| %>

							<li><dt><%= t("jobs.professional.level_education.title") %>: </dt>
							<%= name_or_nothing f.level_education %><br></li>
						
							<li><dt><%= t("jobs.professional.course.title") %>: </dt>
							<%= f.course %><br></li>
						
							<li><dt><%= t("jobs.professional.name_institution.title") %>: </dt>
							<%= f.name_institution %><br></li>
						
							<li><dt><%= t("jobs.professional.situation.title") %>: </dt>
							<%= f.situation %><br></li>

							<li><dt><%= t("jobs.professional.date_conclusion.title") %>: </dt>
							<%= f.date_conclusion %><br></li>

 						<% end %>

			</div>
		</div>


        <div class="row page-header">
			<legend class="span2"><small><%=  t("jobs.professional.professional_experience.title") %></small></legend>

		    <div class="span9 well">
		    	
					<% @professional.professional_experiences.each do |e| %>

							<div class="careers">
								<li class="company_name"><dt><%= t("jobs.professional.company_name.title") %>:</dt>
									<%= e.company_name %><br></li>
							

						<% e.careers.each do |c| %>
								<ul><li><dt><%= t("jobs.professional.role.title") %>:</dt>
								<%= c.role %><br></li>
								

								<li><dt><%= t("jobs.professional.activities.title") %>:</dt>
								<%= c.activities %><br></li>
								

								<li><dt><%= t("jobs.professional.date_admission.title") %>:</dt>
								<%= c.date_admission %><br></li>


								<li><dt><%= t("jobs.professional.date_resignation.title") %>:</dt>
								<%= c.date_resignation %><br></li></ul>	
						<% end %>
						</div>

					<% end %>

			</div>

			<div class="row page-header">
				<legend class="span2"><small><%=  t("jobs.professional.languages.title") %></small></legend>

			    <div class="span9 well language-show">
				    <dt><%=  t("jobs.professional.languages.title") %>:</dt>
						<% @professional.languages.each do |l| %>
							<ul><%= l.name %></ul>
						<% end %>
				</div>
			</div>
					

			<%= link_to t("helpers.forms.edit"), edit_customer_professional_path(@customer, @professional), :class => "btn btn-primary" %>
		</div>
					



</section>