<section class="show guara_jobs_professional">

	<%= render :partial => "/guara/customers/navbar", :locals => { :active => :professional } %>
	<%= render :partial => "/guara/customers/modules", :locals => { :active => :professional } %>

		<div class="thumbnails">
			<div class="caption">
				<div class="span12">

					<legend><%= t("jobs.professional.index.title") %></legend>

					<dt><%= t("jobs.professional.have_job.title") %></dt>
			    	<dd><%= yes_or_no @professional.have_job %></dd>
				    
				</div>
			</div>
		</div>
		  
        <div class="row page-header">
			<legend class="span2"><small><%=  t("jobs.professional.business_action.title") %></small></legend>

		    <div class="span9 well">
			    <dh><%=  t("jobs.professional.business_action.title") %></dh>
					<% @professional.vacancy_specification.roles.each do |b| %>
						<%= b.business_action.name %><br>
						<%= b.name %>
					<% end %>
					<dh><%=  t("jobs.professional.salary_requirements.title") %></dh>
					<%= @professional.vacancy_specification.salary_requirements %>
			</div>
		</div>
					



        <div class="row page-header">
			<legend class="span2"><small><%=  t("jobs.professional.formation.title") %></small></legend>

		    <div class="span9 well">

		    			<% @professional.formations.each do |f| %>

							<dh><%= t("jobs.professional.level_education.title") %></dh>
							<%= name_or_nothing f.level_education %><br>
						
							<dh><%= t("jobs.professional.course.title") %></dh>
							<%= f.course %><br>
						
							<dh><%= t("jobs.professional.name_institution.title") %></dh>
							<%= f.name_institution %><br>
						
							<dh><%= t("jobs.professional.situation.title") %></dh>
							<%= f.situation %><br>

							<dh><%= t("jobs.professional.date_conclusion.title") %></dh>
							<%= f.date_conclusion %><br>

 						<% end %>

			</div>
		</div>


        <div class="row page-header">
			<legend class="span2"><small><%=  t("jobs.professional.professional_experience.title") %></small></legend>

		    <div class="span9 well">
		    	
					<% @professional.professional_experiences.each do |e| %>

							<dh><%= t("jobs.professional.company_name.title") %></dh>
							<%= e.company_name %><br>
						
							<dh><%= t("jobs.professional.role.title") %></dh>
							<%= e.role %><br>
							

							<dh><%= t("jobs.professional.activities.title") %></dh>
							<%= e.activities %><br>
							

							<dh><%= t("jobs.professional.date_admission.title") %></dh>
							<%= e.date_admission %><br>


							<dh><%= t("jobs.professional.date_resignation.title") %></dh>
							<%= e.date_resignation %><br>


					<% end %>

			</div>
		</div>
					



</section>