<div class="page-header"><%= t("jobs.vacancies.elaboration_reports") %></div>

	<%= form_for @search,:url => url_search,
		:html => { :class => "well form-search", :method => :get } do |f|  %>
		
		<fieldset>
		  <div class="row">
		  	<% if !@vacancies_resume.nil? %>
		  		<div class="control-group">
	            	<%= label_tag "resume_type", t("jobs.vacancy_reports.resume_type"), :class => "control-label" %>
	            	<div class="controls">
			          	<%= select_tag('resume_type', options_for_select(Guara::Jobs::VacancyResume.type_translated().map{|a, b| [b, a]}, params[:resume_type]), {:class=> "multiselect", style: 'width:220px;'}) %>
	    			</div>
		    	</div>
		  	<% end %>

			  	<div class="control-group">
			      <%= f.label :customer_pj_person_name_contains, t("jobs.vacancies.customer_pj"), :class => "control-label", :style => "margin-left: 20px;" %>

			      	<%= f.text_field :customer_pj_person_name_contains, :style => "width: 220px; float: right; ",  %>
			      </div>
		      </div> <!-- end cliente -->

			  	<div class="control-group">
            	<%= label_tag :role, t("jobs.vacancies.role"), :class => "control-label" %>
            	<div class="controls">

	          	<%= f.select(:role_id_equals, options_from_collection_for_select( Guara::Jobs::Role.all, :id, :name, params[:search][:role_id_equals].to_i),{include_blank: true}, 

							{
								:style => "width: 220px;", 
								:placeholder => t("jobs.vacancies.role"), 
							  :class => "multiselect" 
							})
              		%>
     			 </div>
		    	</div><!-- end role -->

		      <div class="control-group">
		      	<%= f.label :total_equals, t("jobs.vacancies.total"), :class => "control-label" %>
			      <div class="controls">
			      	<%= f.text_field :total_equals %>
			      </div>
		      </div> <!-- end total vacancies -->

		      <div class="control-group">
	            <%= label_tag :status_id_in, t("jobs.vacancies.status"), :class => "control-label" %>
	          	<div class="controls">

	          	<%= f.select :status_id_equals, Guara::Jobs::VacancyStatus.status_translation.map{|a, b| [b, a]}, 
	          		{include_blank: true}, 
							  {:class => "multiselect",
								:style => "width: 220px;", 
								:placeholder => t("jobs.vacancies.status")}
	          	%>
   			 		</div>
		      </div> <!-- end status -->

			  	<div class="control-group">

            <%= label_tag :consultant, t("jobs.vacancies.role"), :class => "control-label" %>
            	<div class="controls">

	          	<%= f.select(:consultant_id_equals, options_from_collection_for_select( Guara::Jobs::Consultant.all, :id, :name, params[:search][:consultant_id_equals].to_i),{include_blank: true}, 
								{ 
									:style => "width: 220px;", 
									:placeholder => t("jobs.vacancies.consultant"), 
								  :class => "multiselect" 
								})
              %>
     			 </div>
		    	</div> <!-- end consultant -->

		    	<div class="control-group">
            <%= label_tag :type_id, t("jobs.vacancies.type"), :class => "control-label" %>
            	<div class="controls">

	          	<%= f.select(:type_id_equals, options_from_collection_for_select( Guara::Jobs::VacancyType.all, :id, :name, params[:search][:type_id_equals]),{include_blank: true}, 
								{
									:style => "width: 220px;", 
									:placeholder => t("jobs.vacancies.type"), 
								  :class => "multiselect"
								})
              %>
     			 </div>
		    	</div> <!-- end type -->

		    	<div class="control-group">
		        <%= label_tag :process_instance_date_start_gteq, t('jobs.vacancies.date_start'), :class => "control-label" %>
		        <div class="controls">
		          <%= f.text_field :process_instance_date_start_gteq, :class=>"input-small date_format" %> à 
		          <%= f.text_field :process_instance_date_start_lteq, :class=>"input-small date_format" %>
		        </div>
		    	</div> <!-- end date -->

			   <div class="form-actions span3">
					<%= submit_tag t("helpers.forms.search"), :class => "btn btn-primary" %>
				 </div><!-- BUTTON SEARCH SIMPLE OR ADVANCE -->
				 <div style="clear:both;"></div>

 			</div><!-- end row -->
		</fieldset>
	<% end %>