<%
	# process_instance
	@vacancy = Guara::Jobs::Vacancy.find_by_process_instance_id @process_instance.id
%>
<h2><%= t('jobs.vacancy_status.%s' % @vacancy.status.name) %></h2>
<div class="thumbnail">



<% @vacancy.status.routes.each do |vacancy_status| %>
	<%= link_to t("jobs.vacancy_status.%s" % vacancy_status.name), vacancy_change_status_path(@vacancy, status_id: vacancy_status.id), :class => "btn" %>
<% end %>
</div>

<div class="thumbnail">
	<legend><%= t("jobs.vacancy_status.title") %></legend>
	<ul>
		<% @vacancy.histories.order("created_at desc").each do |history| %>
		<li><%= history.user.name %> : <%= t("jobs.vacancy_status.%s" % history.status_to.name) %></li>
		<% end %>
	</ul>
</div>

