<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "guara/guara" -%>

    <style type="text/css">

    .line {border-bottom: solid 1px gray; width: 190px; margin-top: 20px; }
      .line .right {float: right;}

    .right {float: right;}

    h3 {text-transform: capitalize; margin-bottom: 30px; }

    center {margin-top: 40px;}

    span {margin-top: -40px; display: block; }

  </style>


  </head>
  <body>
    <div class="container">

<section id="vacancy_reports">
    
  <header>
   <%= wicked_pdf_image_tag "vacancy_reports/logosintese.png",
      :alt => "CMGB",
      :id => "id_img",
      :width => "150px",
      :height => "82px",
      :class => "logo_sintese" %>

    <div class="line right">
      <strong style="margin-left: 30px;" >Relatório - </strong>
      <strong><%= %></strong>
    </div>  <br />

    <span class="right"> CMGB* Serviço de RH - 2013<%=  %></span>
  </header>

  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span12">
          <div class="caption">

            <center>
              <h3><%=t('jobs.vacancy_reports.monitoring_reports')%></h3>
            </center>
            
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><%= t("jobs.vacancy_reports.customer_pj") %></th>
                  <th><%= t("jobs.vacancy_reports.role") %></th>
                  <th><%= t("jobs.vacancy_reports.total") %></th>
                  <th><%= t("jobs.vacancy_reports.status") %></th>
                  <th><%= t("jobs.vacancy_reports.step") %></th>
                  <th><%= t("jobs.vacancy_reports.date_start") %></th>
                  <th><%= t("jobs.vacancy_reports.consultant") %></th>
                </tr>
              </thead>

              <tbody>
                <% @vacancy.each do |v|  %>
                  <tr>
                    <td><%= v.customer_pj.name if !v.customer_pj.nil? %></td>
                    <td><%= v.role.name if !v.role.nil? %></td>
                    <td><%= v.total %></td>
                    <td><%= Guara::Jobs::VacancyStatus.status_translation[v.status_id] %></td>
                    <td><%= v.process_instance.step.name if !v.process_instance.nil? %></td>
                    <td><%= !v.process_instance.date_start.nil? ? v.process_instance.date_start.strftime("%d/%m/%Y") : ''  %></td>
                    <td><%= v.consultant.name if !v.consultant.nil? %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
      </li>
    </ul>
  </div>
</body>
</html>