  <ul class="thumbnails">
    <% 
    i = 0
    @customer_groups.each do |group| 
        i += 1
      %>
    <li class="thumbnail span4">
      <table class="table table-striped">
        <tbody>
          <%= render :partial => 'guara/active_crm/scheduled_customer_groups/tr_group_customer', locals: {group: group, i: i} %>
          <tr>
            <td style="background-color:#FFF;">
              <div class="well">
                <h4>Totais</h4>
                <div><span>Clientes:</span>  <span class="pull-right"><%= group.count_customers() %></span></div>
                <div><span>Inscritos:</span> <span class="pull-right"><%= group.count_registered() %></span></div>
                <div><span>Agendados:</span> <span class="pull-right"><%= group.count_scheduled() %></span></div>
                <div><span>Clientes à Agendar:</span> <span class="pull-right"><%= group.count_schedule() %></span></div>
              </div>
              <div>
                <p>
                  <%= link_to ('<i class="icon-play-circle" ></i> ' + t('active_crm.scheduled.contact_customers')).html_safe, 
                  scheduled_scheduled_customer_group_scheduled_contacts_path(params[:id], group.id), class: 'btn  btn-small' %>
                  <%= link_to ('<i class="icon-edit" ></i> ' + t('helpers.forms.edit')).html_safe, 
                  edit_scheduled_scheduled_customer_group_path(params[:id], group.id), class: 'btn btn-small' %>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table> 
    </li>
    <% end %>
          
</ul>