<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= semantic_form_for @user_group do |f| %>
      <%= render 'shared/guara/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>