//= require guara/active_crm/pt-BR

var ScheduledContacts = {
  group: null,
  scheduled_id: null,
  current_customer: null,
  current_customer_from_to_conbtact_list: true,
  current_customer_from_to_conbtact_list_index: 0,
  ignored_customers: null,
  new_scheduled_contacts: null,
  close_negociation: null,
  javascript_crm: null,
  container_customer: $('#customer_show'),
  container_call: $('#dialog-modal-call'),
  top_element: $('#contactables-list'),
  scroll_top_margin: 100,
  customer_panel_seletor: '.container-customer .thumbnail',

  init: function(ignored_customers, new_scheduled_contacts, close_negociation, scheduled_id, group){
    var me = this;
    if(ignored_customers){
      me.ignored_customers = ignored_customers;
    }

    me.group = group;
    me.scheduled_id = scheduled_id;

    if(close_negociation){
      me.close_negociation = close_negociation;
    }
    if(new_scheduled_contacts){
      me.new_scheduled_contacts = new_scheduled_contacts; 
    }
    $('#customer-to-register tbody tr, #ignored-customers tbody tr').on('click', function(){
      //me.open_dialog_customer($(this));
      me.slide_customer_by_tr($(this));
    });

    $('#customer-scheduled tbody tr').on('click', function(){
      me.slide_customer_by_tr($(this), true);
    });

    applyDataTable('#customer-scheduled', {
      "aaSorting": [[2,'asc'] ],
      "aoColumns": [
            null,
            null,
            { "sType": 'date-euro' },
            { "sType": 'date-euro' },
            null,
            null
        ]
    });
    applyDataTable('.deals.list', {
      "aaSorting": [[1,'asc'] ],
      "aoColumns": [
        null,
        { "sType": 'date-euro' },
        null,
        null,
        null
      ]
    });

    $('#search-customer').on('change', searchCustomerSelected);

  },

  reorganize_view_customer: function(){
    var clone = $('.container-contacts').clone();
    $('.container-contacts').remove();
    $('.container-thumbnails').append(clone);
    $('.box-white-data.activities').width(210);
		$('#navbar').remove();
  },

  open_dialog_confirm: function(title, html, callback){
    $( "#dialog-confirm" ).attr('title', title)
      .html(html)
      .dialog({
        resizable: false,
        height: 180,
        modal: true,
        buttons: {
          Ok: function() {
            callback($(this));
          },
          Cancelar: function() {
            $( this ).dialog( "close" );
          }
        }
      });
  },

  open_dialog_info: function(title, html, callback){
    $( "#dialog-confirm" ).attr('title', title)
      .html(html)
      .dialog({
        resizable: false,
        height: 180,
        modal: true,
        buttons: {
          Ok: function() {
            $( this ).dialog( "close" );
            if (callback!=null) callback($(this));
          },
        }
      });
  },


  /**
  * Slide
  * <----------------------------------------------------------------
  */
  slide_customer_by_tr: function(tr, contact_scheduled) {
    var customer_id,
        contact_id = null;

    customer_id = $(tr).attr('customer-id');

    if (contact_scheduled==null) {
      this.current_customer_from_to_conbtact_list_index = $('#customer-to-register tr').index(tr);
    } else {
      this.current_customer_from_to_conbtact_list_index = -1;
      contact_id = tr.attr('contact-id');
    }

    this.current_customer_from_to_conbtact_list = (contact_scheduled==null);

    this.slide_customer(customer_id, contact_id);
  },

  slide_customer: function(customer_id, contact_id) {
    var me = this;

    this.current_customer = customer_id;

    this.container_customer.show();
    
    this.container_customer.html('<div id="loader" style="position: relative;"></div>').load('/customers/'+ this.current_customer +'.json', function(response, status, xhr){
      if(status=='error'){
        var error = $('#alert-error');
        if(error.length == 0){
          me.container_customer.html('<div id="alert-error" class="alert alert-error"></div>');
          var error = $('#alert-error');
        }
        error.html('<strong>Erro ao Carregar Cliente</strong>, Por favor tente Novamente!');
        $('.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix').hide();
        return true;
      }
      else{
        $('.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix').show();
      }

      me.reorganize_view_customer();
      $('select.multiselect').removeClass('multiselect');
      me.initialize_js_customer();
      me.customer_contacts_list_setup();

      if(contact_id!=null){
        me.open_dialog_call(contact_id);
      }

      $(".active_crm .panel").animate({"left": -(me.container_customer.position().left)}, 600);

      
      me.container_customer.append(me.buttons_nav());
      me.container_customer.prepend(me.buttons_nav());
      me.scroll_top();

    })
  },
  /*
  * ------------------------------------------------------------>
  */
  
  
  /**
  * Scrolls
  * <----------------------------------------------------------------
  */
  slide_to_list: function() {
    this.scroll_top();
    
    $(".active_crm .panel").animate({"left": 0}, 600);
    this.container_customer.hide(600);

  },

  scroll_top: function() {
    $('html, body').animate({
       scrollTop: $(this.top_element).offset().top - this.scroll_top_margin,
   }, 600);
  },

  scroll_deal: function() {
    $('html, body').animate({
       scrollTop: $('#dialog-call').offset().top - this.scroll_top_margin,
   }, 600);
  },
  /*
  * ------------------------------------------------------------>
  */


  /**
  * Botões
  * <----------------------------------------------------------------
  */
  buttons_nav: function() {
    var $g = $('<div />').addClass('span12 buttons_nav');
    $g.append(this.btn_back());
    $g.append(this.btn_next_customer());
    $g.append(this.btn_finish_deal());
    $g.append(this.btn_ignore_customer());

    return $g;
  },

  btn_back: function() {
    var me = this;
    var a_btn = $('<a class="btn">'+I18n.t('back')+'</a>');
      a_btn.on('click', function() {
        me.slide_to_list();
      });

    return a_btn;
  },

  btn_finish_deal: function() {
    var me = this;
    var btn = $('<a>'+I18n.t('scheduleds.contacts.ending_deal')+'</a>').addClass('btn btn-warning');

    btn.on('click', function() {
      me.open_dialog_confirm(I18n.t('scheduleds.contacts.ending_deal')+ '?', I18n.t('scheduleds.contacts.ending_deal_text'), function(dialog){
        dialog.html(I18n.t('waiting'));
        $.ajax({
          type: "POST",
          url: me.close_negociation,
          data: {
            customer_id: me.current_customer,
            group: me.group
          }
        }).done(function( data ) {
          if(data.success==true) {
            $('tbody tr[customer-id="'+me.current_customer+'"]').remove();
            dialog.dialog( "close" );
            setTimeout(function() {
              me.next_customer();
            }, 500);
            me.scroll_top();
            setTimeout(function() { me.open_dialog_info("<%= I18n.t('helpers.forms.new_success') %>", "<%= I18n.t('helpers.forms.new_success') %>"); }, 500);
          }
          setTimeout(function() { dialog.dialog( "close" ) }, 3000);
        });
      });
    });
    return btn;
  },

  btn_ignore_customer: function() {
    var me = this;

    btn = $('<a>'+I18n.t('scheduleds.contacts.ignore_customer')+'</a>').addClass('btn btn-danger');
    btn.on('click', function() {
      me.open_dialog_confirm("<%= I18n.t('scheduleds.ignored.ignoring_customer') %> "+ '?', "<%= I18n.t('scheduleds.ignored.ignoring_customer_text') %>", function(dialog){
        dialog.dialog( "close" );
        me.async_ignore_customer();
      });
    });
    return btn;
  },

  btn_next_customer: function() {
    var me = this,
        last_customer = me.current_customer,
        btn = $('<a>'+I18n.t('scheduleds.contacts.next_customer')+'</a>').addClass('btn btn-success');
    
    btn.on('click', function() {
      me.async_next_customer();
    });
    return btn;
  },

  customer_contacts_list_setup: function(){
    var me = this;
    $('.container-contacts table tr[contact-id] td.link').click(function(){
      me.open_dialog_call($(this).parent().attr('contact-id'));
      me.scroll_deal();
    });
    $('.container-contacts table tr[contact-id] td a.btn').remove();
  },

  get_fields: function(form){
    var data_fields = {};
    form.find('input,select').each(function(){
      if(!data_fields[$(this).attr('name')]){
        data_fields[$(this).attr('name')] = $(this).val();
      }
    });

    return data_fields;
  },

  form_contact_setup: function(){
    var me = this;
    $(me.customer_panel_seletor).toggleClass('collapsed');
    $('form.guara_customer').on('submit', function(e){
      e.preventDefault();
      var data_fields = me.get_fields($('form.guara_customer'));
      
      $.ajax({
        type: "POST",
        dataType : 'script',
        url : $('form.guara_customer').attr('action')+'.js',
        data: data_fields,
        success : function(script){
          setTimeout(function() {
            me.form_contact_setup();
            me.customer_contacts_list_setup();
            me.form_customer_contacts();
          }, 1000);
        }
      });

    });
  },

  customer_panel_collapser: function() {
    var me = this;
    var btn = $('<a />').addClass('btn more').html('...');
    btn.on('click', function() {
     $(this).parent().toggleClass('collapsed');
    });    

    $(me.customer_panel_seletor).append(btn);
  },

  form_customer_contacts: function(){
    $('form').on('click', '.remove_fields', function(event) {
        event.preventDefault();
        
        $(this).prev('input[type=hidden]').val('1');
        $(this).closest('fieldset').hide();
      });
      $('form, div.list_nested_form').on('click', '.add_fields', function(event) {
        event.preventDefault();

        var regexp, time;
        time = new Date().getTime();
        regexp = new RegExp($(this).data('id'), 'g');
        $(this).before($(this).data('fields').replace(regexp, time));
        $('select.multiselect').select2('destroy');

      });
  },

  form_activity_live_edit_setup: function() {
    var me = this;
    $('.activity', $('#scheduled_contact_form_list')).on('dblclick', function(e) { me.form_activity_live_edit_submit(e, me, this); });
  },

  form_activity_live_edit_submit: function(e, me, td_activity) {
      var scheduled_contact_id = $(td_activity).attr('scheduled_contact-id');

      /*txt*/
      $txt = $('<textarea />');
      $txt.html($(td_activity).html());
      $(td_activity).html('');
      $txt.attr('scheduled_contact-id', scheduled_contact_id);
      $txt.attr('id', 'textarea_activity_'+scheduled_contact_id);
      $(td_activity).append($txt);
      setTimeout(function() { $txt.focus(); }, 200);
      
      /*btn save*/
      $btn = $('button', $('#scheduled_contact_form')).clone();
      $btn.attr('scheduled_contact-id', scheduled_contact_id);
      $btn.attr('onclick', null);

      $btn.on('click', function(e) {
        var text = $('#textarea_activity_'+scheduled_contact_id).val();
        e.stopPropagation();
        
        $.ajax({
          type: "POST",
          url: "<%= Guara::Core::Engine.routes.url_helpers.scheduled_scheduled_group_scheduled_contact_update_activity_path('scheduled_id', 'group_id', 'contact_id') %>".replace('scheduled_id', me.scheduled_id).replace('group_id', me.group).replace('contact_id', scheduled_contact_id),
          data: {
            activity: text
          }
        }).done(function( data ) {
          if(data.success==true) {
            $btn.parent().on('dblclick', function(e) { me.form_activity_live_edit_submit(e, me, this); });
            $btn.parent().html(data.activity);
          } else {
            $btn.parent().prepend($('<div class="alert alert-danger">'+data.error+'</div>'));
          }
        });
      });

      $(td_activity).append($btn);
      
      $(td_activity).off('dblclick');
    },

  initialize_js_customer: function(){
    var me = this;
    me.form_contact_setup();
    me.form_customer_contacts();

    me.customer_panel_collapser();

  },



  open_dialog_call: function(contact_id){
    var me = this;
    if($('.tab-content #index div#dialog-call').length==0){
      $('.tab-content #index').append('<div id="dialog-call"></div>');
    }

    $('.tab-content #index div#dialog-call').show();

    $('.tab-content #index div#dialog-call').html('Carregando...').load(me.new_scheduled_contacts+'?contact_id='+contact_id, function(){
      $('#dialog-modal-customer').animate({
        scrollTop: $('#active_crm_scheduled_contact_activity').offset().top - 350
      });
      me.form_activity_live_edit_setup();
    });
  },

  dialog_call_close: function() {
    $('.tab-content #index div#dialog-call').hide();
  },

  is_customer_ignored: function(customer_id){
    var me     = this,
    is_ignored = false,
    ignoreds   = me.ignored_customers;
    
    for(var i in ignoreds){
      if(customer_id == ignoreds[i]){
        is_ignored = true;
      }
    }
    return is_ignored;
  },

  async_ignore_customer: function() {
    var me=this;    
    this.async_action_current_customer("<%= Guara::Core::Engine.routes.url_helpers.ignore_customer_scheduled_scheduled_group_scheduled_contacts_path('scheduled_id', 'group_id') %>", function(data) {
      ignoredCustomerAppend(me.current_customer);
      next_customer_callback(data);
    });
  },

  async_next_customer: function() {
    this.async_action_current_customer("<%= Guara::Core::Engine.routes.url_helpers.next_customer_scheduled_scheduled_group_scheduled_contacts_path('scheduled_id', 'group_id') %>", next_customer_callback);
  },

  async_action_current_customer: function(url, done) {
    //ajax  
    $.ajax({
      type: "POST",
      url: url.replace('scheduled_id', this.scheduled_id).replace('group_id', this.group),
      data: {
        customer_id: this.current_customer,
        index: this.current_customer_from_to_conbtact_list_index
      }
    }).done(done);
  },

  next_customer: function(customer_id, contact_id){
    this.slide_customer(customer_id, contact_id);
  },

  auto_next_customer: function(){
    var me = this,
    next_customer = false;
    $('#customer-to-register tbody tr').each(function(){
      if(next_customer === false){
        if(me.is_customer_ignored($(this).attr('customer-id')) === false){
          me.current_customer = $(this).attr('customer-id');
          next_customer = true;
          me.slide_customer_by_tr($(this));
        }
      }
    });

    if(me.is_customer_ignored(me.current_customer) === true){
      alert("<%= I18n.t('schduleds.group.empty_to_contact') %>");
    }
  },
};

/* ending obj **************************************************************************/

function searchCustomerSelected(e) {
  ScheduledContacts.next_customer(e.val, null);
  $('#s2id_search-customer-input-ajax').delay(2000).queue(function() {
    $('#s2id_search-customer-input-ajax').select2('data', null);
  })
}

function next_customer_callback(data) {
  if (data.scheduled!=null) {
    alert_next_is_scheduled(this);
    ScheduledContacts.next_customer(data.scheduled.customer_id, data.scheduled.contact_id);
  } else {
    ScheduledContacts.current_customer_from_to_conbtact_list_index = data.index;
    if (data.next!=null) {
      ScheduledContacts.next_customer(data.next.customer_id)
    } else {
      ScheduledContacts.slide_to_list();
    }
  }
}

function paginate_call(){
  $('.pagination a').each(function(){
    if($(this).attr('href').match('.js?') === false){
      var url = $(this).attr('href').replace('?', '.js?');
    }
    else{
      var url = $(this).attr('href');
    }
    $(this).attr('href', url)
    .click(function(e){
      e.preventDefault();
      var url = $(this).attr('href');
      
      $.ajax({
        dataType : 'script',
        url : url,
        success : function(script){
          paginate_call();
          ScheduledContacts.init();
        }
      });
    });
  });
}

function ignoredCustomerAppend(customer_id) {
  var $tr, $tr_ign;
  $tr = $('#customer-to-register tr[customer-id="'+customer_id+'"]');
  tr_ign = $tr.first().clone();
  $tr.remove();
  $tr_ign = $(tr_ign);
  $('#ignored-customers tbody').append($tr_ign);
  $tr_ign.on('click', function() {
    ScheduledContacts.next_customer($(this).attr('customer-id'), null);
  });
  ScheduledContacts.current_customer_from_to_conbtact_list_index--;
}

function customerToContactRemove(customer_id) {
  $('#customer-to-register tr[customer-id="'+customer_id+'"]').remove();
  ScheduledContacts.current_customer_from_to_conbtact_list_index--;
}

function alert_next_is_scheduled(obj) {
  $(obj).delay(1500).queue(function(next) {
    $('#scheduled_contact_form_list').prepend(
      alert_warning_template("<%= I18n.t('scheduleds.contacts.alert_scheduled_title') %>", "<%= I18n.t('scheduleds.contacts.alert_scheduled_description') %>")
    );

    if(next) next();
  });
}
