<%= semantic_form_for order, :url => orders_in_path(), :method => :put  do |f| %>
<fieldset>
  	<div class="row well row_orders_in">
	  <div class="span10">
	   	<%= f.input :payment_type, :label => t("payment_type"), :as => :select, 
	    	:collection => Hash[Spree::PaymentMethod.select([:id, :name])
	    		.where(:deleted_at=> nil, :environment=> :development).order(:name)
	    		.map{ |method| 
	    		[method.name, method.id]
	    	}] %>
	   	<%= f.input :payment_date, :as => :string, :input_html => { 'data-behaviour' => 'datetimepicker' } %>
	   	<%= f.input :payment_state, :label => t("payment_state"), :as => :select, 
	    	:collection => Hash[Guara::PaymentState.state_translated.map{ |key, value| 
	    		[value, key]
	    	}] %>
	   	<%= f.input :state, as: :hidden %>
	   </div> 
	</div>

  <%= f.submit class: "btn btn-large btn-primary" %>
</fieldset>	
<% end %>

