<style type="text/css">
	table thead tr th{
		text-align: left !important;
	}
	table tbody tr th{
		font-weight: normal !important;
	}
</style>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-left"><%= t("inter_view_professionals.id") %></th>
        <th><%= t("interviewer_professionals.consultant_id") %></th>
        <th><%= t("inter_view_professionals.professional_id") %></th>
        <th><%= t("inter_view_professionals.description") %></th>
        <th><%= t("inter_view_professionals.sended?") %></th>
        <th><%= t("inter_view_professionals.avaliate") %></th>
      </tr>
    </thead>
    <tbody>
	<% @vacancy_scheduling_professionals.each do |p| %>
      <tr>
      	 <th><%= p.id %></th>
      	 <th><%= p.consultant.name %></th>
      	 <th><%= p.professional.person.name %></th>
      	 <th><%= p.description %></th>
         <th>
          <% if Guara::Jobs::VacancySendedProfessionals.where(vacancy_scheduling_professional_id: p.id).count()==0 %>
            <span class="badge badge-important">Não</span>
          <% else %>
            <span class="badge badge-success">Sim</span>
          <% end %>
         </th>
      	 <th><%= Guara::Jobs::LevelAvaliation.levels_translated()[p.avaliate] %></th>
      </tr>
    <% end %>

    </tbody>
 </table>