<style type="text/css">
	table thead tr th{
		text-align: left !important;
	}
	table tbody tr th{
		font-weight: normal !important;
	}
</style>

<div style="padding:10px;">
	<table class="table table-bordered table-striped">
	    <thead>
	      <tr>
	        <th><%= t("interviewer_professionals.id") %></th>
	        <th><%= t("interviewer_professionals.consultant_id") %></th>
	        <th><%= t("interviewer_professionals.professional_id") %></th>
	        <th><%= t("interviewer_professionals.local") %></th>
	        <th><%= t("interviewer_professionals.date_time") %></th>
	        <th><%= t("interviewer_professionals.date_time_interviewee") %></th>
	        <th><%= t("interviewer_professionals.interviewee") %>?</th>
	        <th class="span1"><%= t("helpers.forms.actions") %></th>
	      </tr>
	    </thead>
	    <tbody>
		<% @interviewer_professionals.each do |p| %>
	      <tr>
	      	 <th><%= p.id %></th>
	      	 <th><%= p.consultant.name %></th>
	      	 <th><%= p.professional.person.name %></th>
	      	 <th><%= p.local %></th>
	      	 <th><%= p.date_time.strftime("%d/%m/%Y %H:%M:%S") %></th>
	      	 <th>
	      	 	<%= !p.date_time_interviewee.nil? ? p.date_time_interviewee.strftime("%d/%m/%Y %H:%M:%S") : "" %>
	      	 </th>
	      	 <th>
	      	 	<% if !Guara::Jobs::VacancyProfessionalsInterview.find_by_scheduling_id(p.id).nil? %>
	      	 		<span class="badge badge-success">Sim</span>
	      	 	<% else %>
	      	 	<span class="badge badge-important">Não</span>
	      	 	<% end %>
	      	 </th>
	      	 <td>
              <%= link_to t("helpers.forms.show"), 'javascript:void(0);', :class => "btn", :onClick=>"show_interviewer_professional(#{p.professional_id}); " %>
            </td>
	      </tr>
	    <% end %>

	    </tbody>
	</table>

	<div id="show_candidate_selected" class="caption" style="padding:10px;">
		            
	</div>
</div>	 

<script type="text/javascript">
	function show_interviewer_professional(professional_id){
		show = $('#show_candidate_selected');
		show.load("<%= interviewer_professional_show_embeded_process_path(vacancy_id: @vacancy.id, edit_step: params[:edit_step])%>&professional_id="+professional_id);
	}

</script>