<style type="text/css">
.control-group .row{
	margin-left: 0px!important;
}
#interviewer_professionals{
	margin-left: 0px;
	margin-right: 0px;
}
#interviewer_professionals .thumbnail{
	background: #FFF;
	margin-top: 10px;
}
</style>
<section id="interviewer_professionals">
	<div class="row-fluid">
        <ul class="thumbnails">
	        <li class="span12">
		        <div class="thumbnail">
		          <div id="candidates_scheduled" class="caption">
		          	
		          	<table class="table table-bordered table-striped">
					    <thead>
					      <tr>
					        <th><%= t("interviewer_professionals.id") %></th>
					        <th><%= t("interviewer_professionals.consultant_id") %></th>
					        <th><%= t("interviewer_professionals.professional_id") %></th>
					        <th><%= t("interviewer_professionals.local") %></th>
					        <th><%= t("interviewer_professionals.date_time") %></th>
					        <th><%= t("interviewer_professionals.date_time_interviewee") %></th>
					        <th><%= t("interviewer_professionals.interviewee") %>?</th>
					        <th><%= t("helpers.forms.actions") %></th>
					      </tr>
					    </thead>
					    <tbody>

						<% @interviewer_professionals.each do |p| %>
					      <tr>
					      	 <th><%= p.id %></th>
					      	 <th><%= p.consultant.name %></th>
					      	 <th><%= p.professional.person.name %></th>
					      	 <th><%= p.local %></th>
					      	 <th><%= !p.date_time.nil? ? p.date_time.strftime("%d/%m/%Y %H:%M:%S") : "" %></th>
					      	 <th container="date" professional-id="<%=p.professional_id%>"><%= !p.date_time_interviewee.nil? ? p.date_time_interviewee.strftime("%d/%m/%Y %H:%M:%S") : "" %></th>
					      	 <th container="status" professional-id="<%=p.professional_id%>">
					      	 	<% if !p.date_time_interviewee.nil? %>
					      	 		<span class="badge badge-success">Sim</span>
					      	 	<% else %>
					      	 		<span class="badge badge-important">Não</span>
					      	 	<% end %>
					      	 </th>
					      	 <th>
			        			<%= link_to t("helpers.forms.edit"), 'javascript:void(0);', :class => "btn", :onClick=>"interviewer_professionals(#{p.professional_id}); " %>
					      	 </th>
					      </tr>
					    <% end %>

					    </tbody>
					 </table>
					 
		          </div>
		        </div>
	      	</li>  	      
	    </ul>

	    <ul class="thumbnails">
	    	<li class="span12">
		        <div class="thumbnail">
		          <div id="form_candidate_selected" class="caption">
		            
		          </div>
		        </div>
		    </li>
	    </ul>
  	</div>
</section>

<script type="text/javascript">
	function interviewer_professionals(id) {
		form = $('#form_candidate_selected');
		form.load("<%= edit_vacancy_interviewer_professional_path(vacancy, edit_step: params[:edit_step])%>&professional_id="+id+'');
	}
</script>