<%
	
	#field_form_name nome que deve estar no form
	@controller = Guara::Jobs::ProfessionalsController.new
	@controller.request = request
	@controller.response = response
	@controller.params = params
	res = @controller.search
	@professionals = @controller.searched_professionals
	@search = @controller.searched_search
	params[:mode] = "advanced"
%>
<style type="text/css">
	.control-group .row{
		margin-left: 0px!important;
	}
	#s2id_select_professionals_professionals_selecteds ul.select2-choices{
		overflow-y: auto;
		max-height: 200px;
	}
</style>

<div class="control-group">
	<%= form_ajax("select_professional", render(:partial => "guara/jobs/professionals/search_results"), "professionals_ajax_form_complete") %>
</div>

<script>
	$(function() {
		$("#select_professionals_professionals_selecteds").attr('name',  '<%= field_form_name %>[]');
		window.sel = []
		<%  if value.class == Array 
		#raise value.to_yaml
				value.each do |k| %>
					setProfessionalToSelect2(<%= k[:value] %>, "<%= get_value_model k[:step_attr_option], k[:value] %>", "");
					sel.push(<%= k[:value] %>);
		<% 		end 
			end %>
			
		setTimeout(function(){
			$("#select_professionals_professionals_selecteds").select2("val", sel);
		},200);
	});

	function alertDialog(msg, error){
		var dialog = jQuery('.alert-ajax');
		if(error){
			dialog
				.removeClass('alert-success')
				.addClass('alert-error');
		}
		else{
			dialog
				.removeClass('alert-error')
				.addClass('alert-success');
		}
		dialog
			.html(msg)
			.show();
			setTimeout(function(){
				dialog.fadeOut(400);
			}, 2000);
	}

	function professionals_ajax_form_complete(data, status) {
		$("#professional_search_list").html(data.responseText);
		alertDialog('<%= t("jobs.professionals.search.complete") %>');
	}

	function paginate_call(){
	    $('.pagination a').each(function(){
	      if($(this).attr('href').match('.js?') === null){
	        var url = $(this).attr('href').replace('?', '.js?');
	      }
	      else{
	        var url = $(this).attr('href');
	      }
	      $(this).attr('href', url)
	      .click(function(e){
	        e.preventDefault();
	        var url = $(this).attr('href');
	        
	        $.ajax({
	          dataType : 'script',
	          url : url,
	          success : function(script){
	            paginate_call();
	          }
	        });
	      });
	    });
	}

	paginate_call();
</script>