<section id="active_crm">
    <div>
        <div class="row-fluid">
            <ul class="thumbnails">

              <li class="span12">
                <div class="thumbnail">
                  <div class="caption">
                    
                    <div class="thumbnail" style="margin-top:10px;">
                      <div class="caption">
                        <div class="page-header">
                        	<%= t("active_crm.scheduled_contacts_reports.title") %>
                        </div>
                          
                        <%= render partial: 'guara/active_crm/scheduled_deals/form_search', locals: {url: scheduled_contacts_reports_path } %>

                        
                        <div class="well" style="background-color:#fff;">
	                        <div class="page-header">
	                        	Resultado da Pesquisa
	                        </div>

	                        <div class="row">
	                        	<div class="span12">
									<div class="well span6">
										<b>Total de Ligações para Clientes:</b> 
										<%= @scheduled_deals.count() %></div>
									
									<div class="well span6">
										<div><b>Total de Ligações por Usuários: </b></div>
										<% @scheduled_deals.group_by(&:user_id).each do |user_id, contact| %>
											<div>
												<b><%=Guara::User.find(user_id).name %>:</b> 
											 	<%= contact.count() %>
											</div>
										<% end %>
									</div>
								</div>
								<div style="clear:both;">
								<div class="span12">
									<div class="well span6">
										<b>Total de Inscritos:</b> 
										<%= @deals.registered().search(params[:search]).count() %>
									</div>

									<div class="well span6">
										<b>Total de Não Interessados:</b> 
										<%= @deals.no_interested().search(params[:search]).count() %>
									</div>
								</div>
							</div>

							<%= link_to "Gerar PDF", 'javascript:void(0);', class: "btn generate_pdf" %>
						</div>

                      </div>
                    </div>
                  </div>
                </div>
            </li>

          </ul>
        </div>
    </div>
</section>

<script type="text/javascript">
	$('.generate_pdf').click(function(){
		if(window.location.href.split('?')[1]!=undefined){
			window.location = "<%= scheduled_contacts_reports_path(:format=> 'pdf')%>?"+window.location.href.split('?')[1];
		}
	});
</script>