<style type="text/css">
	input[type="radio"]{
		margin: 0px;
	}
	
	.radio-button-budget{
		margin-bottom: 5px;
		min-height: 17px;
	}
	.radio-button-budget label{
		display: inline;
		font-size: 16px;
		font-weight: bold;
	}
	.radio-button-budget span{
		width: 49%;
		display: inline-block;
	}
</style>
<%= semantic_form_for @order, :url => orders_in_index_path(), :method => @order.new_record? ? :post : :put  do |f| %>
	
<fieldset>
  <legend><%= @order.new_record? ? t("orders.in.new.title") : t("order.in.edit.title") %></legend>

	<div class="row well row_orders_in">
	  <div class="span5">
	   	<div class="radio-button-budget">
	   		<div style="<%= 'display:none;' if !@order.new_record? %>">
		   		<span>
		   			<%= label :budget_1, t('quotation') %>
		   			<%= radio_button_tag 'budget', '1', {:checked=> true} %> 
		   		</span>
				<span>
					<%= label :budget_0, t('purchase_order') %>
					<%= radio_button_tag 'budget', '0' %>
				</span>
			</div>
		</div>
	   	<%= f.input :person_id, :label => t("supplier"), :as => :select, 
	    	:collection => Hash[Guara::Supplier.all.map{|b| [b.customer_pj.name,b.id]}] %>
	   </div> 

	   <div class="span5">
	   	<div class="radio-button-budget"></div>
	   	<%= f.input :date_init, :label => t("date_init"), :as => :string, :input_html => { 'data-behaviour' => 'datetimepicker' } %>
	   </div>
	</div>

<style>
	.select2-container.multiselect{
		width: 100%;
		margin-left: 0px;
	}
</style>

	<div class="thumbnail ">
			<legend><small><%= t("orders.products.title") %></small></legend>
			  <%= render :partial => 'active_extend/one_to_many_inputs', 
					:locals => { 
						:values => @order.items, 
						:form => f, 
						:target => :items, 
						:inputs => { 
							:product_id => {
								:collection => Guara::Product.all,
								:input_html=> {:class => "span2 multiselect"},
								:as => :select,
								:label => t('product'), 
							},
							:total => {
								:input_html => {:class => "span2 only_number"}, 
								:label => t('total')
							},
							:price => { 
								:label => t('price'),
								:input_html => {:class => "span2 price"}
							},
							:price_total => { 
								:label => t('price_total'),
								:input_html => {:class => "span2 price_total", :readonly=> true}
							}
						} 
				} %>
	</div>
	<br>
  <%= f.submit class: "btn btn-large btn-primary" %>
</fieldset>	
<% end %>


<script>
	function setPriceTotal(field){
		var container = $($(field).parents('fieldset.guara_order_item_fields')),
		total   	  =	container.find('input.only_number'),
		price   	  =	container.find('input.price'),
		price_total	  = container.find('input.price_total');
		if(($.isNumeric(total.val())) && ($.isNumeric(price.val()))){
			price_total.val(parseFloat(total.val() * price.val()).toFixed(2));

		}
	}

	jQuery(function($){
	   $('.add_fields').click(function(){
	   		setTimeout(function(){
				$('select.multiselect').each(function(){
					var field = $(this);
					if(field.hasClass('select2-offscreen')==false){
						field.select2();
					}
				});

			   	$('.only_number').numeric({ 
			   			decimal: false, 
			   			negative: false 
			   		}, false)
			   		.blur(function(){
			   			setPriceTotal(this);
			   		});

				$('.price').priceFormat({
			    		prefix: '',
			    		thousandsSeparator: ''
					})
					.blur(function(){
			   			setPriceTotal(this);
			   		});

		   },100);
	   	});
	  // $('.add_fields').click();
	});
</script>
