<section id="stock">

	<div id="dashboard">
			<navbar>
				<%= render :partial => "header" %>
			</navbar>

		<div class="row">
			<div class="span12">
				<fieldset>
				<section id="index">
				  <div class="page-header">
					<%= t("search.results")%>
				  </div>

				  <table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th><%= t("supplier") %></th>
				        <th><%= t("date_init") %></th>
				        <th><%= t("date_update_situation") %></th>
				        <th><%= t("situation") %></th>
				        <th><%= t("helpers.forms.actions") %></th>
				      </tr>
				    </thead>
				    <tbody>

				   <% @orders.each do |order| %>
					  <tr>
					    <td><%= order.person.name %></td>
					    <td><%= order.date_init.strftime("%d/%m/%Y") %></td>
					    <td><%= order.state_date.strftime("%d/%m/%Y") %></td>
					    <td><%= Guara::OrderState.status_translated[order.state] %></td>
					    <td>
					    	<%= index_btn_view orders_in_path(order), t("helpers.forms.show") %>
		        			<%= index_btn_edit edit_orders_in_path(order), t("helpers.forms.edit") %>
					    </td>
					  </tr>
					<% end %>

				    </tbody>
				  </table>

				  <%= link_to t('helpers.forms.new'), new_orders_in_path, :class=> "btn" %>
				</section>
				
			</fieldset>
		</div>
</div>