<%= render :partial => "header" %>

<section class="show">
	<ul class="thumbnails">
	  	<li class="span12">
		    <div class="thumbnail">
		      	<div class="caption">
					<legend>
						<%= t('orders.in.index.title') %> 
						(<%= @orders_in.is_budget? ? t('quotation') : t('purchase_order') %>)
					</legend>
					
					<div class="row">
						<div class="span5" style="width:425px;">
							<div class="control-group">
					            <%= show_label_tag t('supplier') %>
								<%= @orders_in.person.name %>
					        </div>
					        <div class="control-group">
					            <%= show_label_tag t('date_init') %>
								<%= @orders_in.date_init.strftime("%d/%m/%Y") %>
					        </div>
						</div>

						<div class="span6">
							<div class="control-group">
					            <%= show_label_tag t('situation') %>
					            <span id="span_situation">
									<%= Guara::OrderState.status_translated[@orders_in.state] %>
								</span>
					        </div>

					        <div>
					        	<%= show_label_tag t('helpers.forms.actions') %>
					        	<% if @orders_in.is_budget? %>
					        		<%= link_to t('confirm_purchase'), 'javascript:void(0);', :class=>"btn btn-success alter_state_orders_in", :state=> "#{Guara::OrderState.status[:CONFIRMED]}" %>
					        		<% elsif @orders_in.is_confirmed? %>
					        		<%= link_to t('confirm_payment'), 'javascript:void(0);', :class=>"btn btn-success confirm_paid_orders_in", :state=> "#{Guara::OrderState.status[:PAID]}" %>
					        	<% end %>
					        </div>
						</div>
					</div>
			  	</div>
			</div>
			<br>
			<div class="thumbnail">
				<legend><small><%= t("orders.products.title") %></small></legend>

				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th><%= t("product") %></th>
				        <th><%= t("total") %></th>
				        <th><%= t("price") %></th>
				        <th><%= t("price_total") %></th>
				      </tr>
				    </thead>
				    <tbody>
				   <% @orders_in.items.each do |item| %>
					  <tr>
					    <td><%= item.product.name %></td>
					    <td><%= item.total %></td>
					    <td><%= number_to_currency(item.price) %></td>
					    <td><%= number_to_currency(item.price_total) %></td>
					  </tr>
					<% end %>

				    </tbody>
				</table>
			</div>
		</li>
	</ul>



<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="header_html"><%=t('payment')%></h3>
  </div>
  <div class="modal-body" id="body_html">
    <%= render :partial => 'guara/shared/form_payment', :locals=> {:order=> @orders_in} %>
  </div>
  <div class="modal-footer" id="footer_html">
    
  </div>
</div>

<script type="text/javascript">
	$('.alter_state_orders_in').click(function(){
		if(confirm("Deseja realizar essa ação?")){
			var btn = $(this);
			btn.html('<%=t("wait")%>...').attr('disabled', 'disabled');
			$.ajax({
			  	type: "POST",
			  	url: "<%=orders_in_path(@orders_in)%>",
			  	dataType: 'json',
			  	data: { 
			  		_method: 'put',
			  		order: {
			  			state: $(this).attr('state')
			  		}
			  	}
			}).done(function( data ) {
			  	if(data.success == true){
			  		$('#span_situation').html(data.situation);
			  	}
			  	btn.html('<%=t("confirm_purchase")%>').removeAttr('disabled');

			}).fail(function(data){
				console.info(data);
				btn.html('<%=t("confirm_purchase")%>').removeAttr('disabled');
			});			
		}
	});

	$('.confirm_paid_orders_in').click(function(){
		$('#myModal').modal({
			backdrop: 'static',
		  	keyboard: false
		});
	});
</script>