<div style="padding:10px;">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t("inter_view_professionals.id") %></th>
          <th><%= t("inter_view_professionals.professional_id") %></th>
          <th><%= t("inter_view_professionals.date_evaluation") %></th>
          <th><%= t("inter_view_professionals.date_send_report") %></th>
        </tr>
      </thead>
      <tbody>
    <% @customer_interviews.each do |customer_interview| %>
        <tr>
           <th><%= customer_interview.id %></th>
           <th><%= customer_interview.scheduling.professional.person.name %></th>
           <th><%= customer_interview.psychological.date_evaluation.strftime("%d/%m/%Y") %></th>
           <th><%= customer_interview.psychological.date_send_report.strftime("%d/%m/%Y") %></th>
        </tr>
      <% end %>

      </tbody>
   </table>
</div>   

<script type="text/javascript">
  
</script>