
<div class="sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header"><%= t("home.notifies") %></li>
		<li>
		  <a class="btn btn-danger"><%= customers_invalids %> <%= t("customers.not_valids") %></a>
		  <p/>
		</li>

		<li>
		  <a class="btn "><%= birthdays %> <%= t("customers.birthdays") %></a>
		  <p/>
		</li>
	</ul>
</div>


