<%= javascript_include_tag "/assets/guara/active_crm/scheduled_contacts_form.js" %>
<style type="text/css">
	.dropdown-submenu.pull-left > .dropdown-menu {
		left: -93% !important;
	}
	.disabled{
		display: none;
	}
	.dropup{
		width: 120px;
		display: inline;
	}
</style>
<%= semantic_form_for @scheduled_contact, :html => { class: "well scheduled_contact_submit", 
	onSubmit: "return verify_form();" },
	:url => { :action => @scheduled_contact.new_record? ? 'create' : 'update', format: :json },
	:remote => true do |f| %>

	<div class="row">
		<div class="span3">
			<%= f.input :activity, label: t('active_crm.scheduled.activity'), input_html: { rows: 3, cols: 5} %>

			<%= f.input :scheduled, :as=> :hidden %>
			<%= f.input :result, :as=> :hidden %>
			<%= f.input :contact_id, :as=> :hidden %>
			<%= f.input :classified_id, :as=> :hidden %>
			<%= f.input :user_id, :as=> :hidden %>
			<div class="dropdown">

				<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4" style="display: block; position: static;" >
						
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="javascript:void(0);" 
						  	onClick="completed('result', <%=Guara::ActiveCrm::Scheduled::Contact::ACCEPT %>);">
						  		<span class="badge badge-success"><i class="icon-thumbs-up" /></span> <%= I18n.t("active_crm.results_translated.registered") %>
						  	</a>
						</li>

						<li role="presentation" class="dropdown-submenu">
					  	<a role="menuitem" tabindex="-1" href="javascript:void(0);" 
					  	onClick="completed('result', <%=Guara::ActiveCrm::Scheduled::Contact::DENIED%>);">
					  		<span class="badge badge-important "><i class="icon-thumbs-down" /></span> <%= I18n.t("active_crm.results_translated.participation_denied") %>
					  	</a>
					  	<ul class="dropdown-menu">
					  		<% Guara::ActiveCrm::Scheduled::Classified.all.each do |classified| %>
					  			<li>
					  				<a tabindex="-1" href="javascript:void(0);" 
					  				onClick="completed('classified', <%=classified.id%>);"><%=classified.name%></a>
					  			</li>
					  		<% end %>
					    </ul>
						</li>    
						
						<li role="presentation">
					  	<a  role="menuitem" tabindex="-1" href="javascript:void(0);" 
					  	onClick="completed('result', <%= Guara::ActiveCrm::Scheduled::Contact::SCHEDULED %>);">
					  		<span class="badge badge-warning "><i class="icon-hand-right" /></span> <%= I18n.t("active_crm.results_translated.scheduling") %>
					  	</a>
						</li>
				</ul>
		  </div>
		</div>
		<div id="active_crm_scheduled_contact_status_label_panel" class="span3 hide">
					<span class="badge badge-success hide"><i class="icon-thumbs-up" /></span>
					<span class="badge badge-warning hide"><i class="icon-hand-right" /></span>
					<span class="badge badge-important hide"><i class="icon-thumbs-down" /></span>
					<a id="active_crm_scheduled_contact_status_label"></a>
		</div>
		<div  class="custom-span3-big disabled">
			<div id="datepicker" class="controls"></div>

			<div class="controls" style="margin-top:10px;">
				<%= text_field_tag "hour", Time.now.strftime('%H:%M') %>
			</div>
		</div>

			<div><%= f.submit t('helpers.forms.save'), class: "btn btn-primary hidden btn-submit pull-right" %></div>

	</div>

	
	

<% end %>


<script type="text/javascript">
	scheduled_contacts_form_js_init();
</script>