<style type="text/css">
	.dropdown-submenu.pull-left > .dropdown-menu {
		left: -93% !important;
	}
	.disabled{
		display: none;
	}
	.dropup{
		width: 120px;
		display: inline;
	}
</style>
<%= semantic_form_for @scheduled_contact, :html => { class: "well scheduled_contact_submit", 
	onSubmit: "return verify_form();" },
	:url => { :action => @scheduled_contact.new_record? ? 'create' : 'update', format: :json },
	:remote => true do |f| %>

	<div class="row">
		<div class="span3">
			<%= f.input :activity, label: t('active_crm.scheduled.activity'), input_html: { rows: 3, cols: 5} %>

			<%= f.input :scheduled, :as=> :hidden %>
			<%= f.input :result, :as=> :hidden %>
			<%= f.input :contact_id, :as=> :hidden %>
			<%= f.input :classified_id, :as=> :hidden %>
		</div>
		<div  class="custom-span3-big disabled">
			<div id="datepicker" class="controls"></div>

			<div class="controls" style="margin-top:10px;">
				<%= text_field_tag "hour", Time.now.strftime('%H:%M') %>
			</div>
		</div>
	</div>


	<li class="dropup">
		<%= link_to t('active_crm.scheduled.call_completed'), 'javascript:void(0);', 
			id: "btn-completed-call", class: "btn dropdown-toggle", role: "button", "data-toggle"=> "dropdown" %>

		<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
			<% 
			@participation_denied = Guara::ActiveCrm::Scheduled::Contact.results()[:participation_denied]
			@scheduling = Guara::ActiveCrm::Scheduled::Contact.results()[:scheduling]
			Guara::ActiveCrm::Scheduled::Contact.results_translated().each do |key, value| %>
				
				<% if @participation_denied == key %>
					<li role="presentation" class="dropdown-submenu">
					  	<a role="menuitem" tabindex="-1" href="javascript:void(0);" 
					  	onClick="completed('result', <%=key%>);">
					  		<%=value %>
					  	</a>
					  	<ul class="dropdown-menu">
					  		<% Guara::ActiveCrm::Scheduled::Classified.all.each do |classified| %>
					  			<li>
					  				<a tabindex="-1" href="javascript:void(0);" 
					  				onClick="completed('classified', <%=classified.id%>);"><%=classified.name%></a>
					  			</li>
					  		<% end %>
					    </ul>
					</li>    
				<% else %>
					<li role="presentation">
					  	<a role="menuitem" tabindex="-1" href="javascript:void(0);" 
					  	onClick="completed('result', <%=key%>);">
					  		<%=value %>
					  	</a>
					</li>
				<% end %>
				
			<% end %>
		</ul>
	</li>

	<%= f.submit t('helpers.forms.save'), class: "btn btn-primary hidden btn-submit" %>
<% end %>


<script type="text/javascript">
	$( "#datepicker" ).datepicker($.datepicker.regional[ "pt-BR" ]);
	$('#btn-completed-call').click(function(){

	});

	function completed(type, value){
		if(value == <%= @scheduling %> && type == 'result'){
			$('.custom-span3-big').removeClass('disabled');	
		}
		else{
			$('.custom-span3-big').addClass('disabled');		
		}

		$('#active_crm_scheduled_contact_scheduled').val('');
		$('#active_crm_scheduled_contact_result').val('');
		$('#active_crm_scheduled_contact_classified_id').val('');

		if(type=='result'){
			$('#active_crm_scheduled_contact_result').val(value);
			$('.btn-submit').show();
		}
		else if(type=='classified'){
			$('#active_crm_scheduled_contact_result').val(2);
			$('#active_crm_scheduled_contact_classified_id').val(value);
			$('.btn-submit').show();
		}
		else{
			$('.btn-submit').hide();
		}
	}

	function verify_form(){
		$('#active_crm_scheduled_contact_scheduled').val('');
		if($('#active_crm_scheduled_contact_result').val()=='<%=@scheduling%>'){
			var date = $.datepicker.formatDate('dd/mm/yy', $( "#datepicker" ).datepicker('getDate'));
			$('#active_crm_scheduled_contact_scheduled').val(date+' '+$('#hour').val());
		}
		else{
			$('#active_crm_scheduled_contact_scheduled').val('');	
		}
		return true;
	}

	$('.scheduled_contact_submit')
    .bind("ajax:success", function(evt, data, status, xhr){
      var $form = $(this);
      $form.find('textarea,input[type="text"],input[type="file"]').val("");
      if(data.success == true){
      	alert('Ligação Completada!');

      	var customer_id = ScheduledContacts.current_customer;
      	$('#customer-scheduled tbody tr[customer-id="'+data.data.customer_id+'"][contact-id="'+data.data.contact_id+'"]').remove();
      	if(data.data.result == <%= Guara::ActiveCrm::Scheduled::Contact.results()[:scheduling] %>){
	      	$('#customer-scheduled tbody')
	      	.append('<tr customer-id="'+data.data.customer_id+'" contact-id="'+data.data.contact_id+'">'+
		        '<td>'+data.data.customer_name+'</td>'+
		        '<td>'+data.data.contact_name+'</td>'+
		        '<td>'+data.data.scheduled+'</td>'+
		        '<td>'+data.data.activity+'</td>'+
		    '</tr>');      		

		    $('#customer-scheduled tbody tr').click(function(){
		        ScheduledContacts.open_dialog_customer($(this), true);
	     	});
      	}
      	
      }
    });
</script>