%table#customer-scheduled.table.table-bordered.table-striped.dataTable{:style => "white-space:nowrap;overflow:auto;"}
  %thead
    %tr
      %th.span4= t("helpers.label.customers.search.names")
      %th= t("active_crm.scheduled.responsible")
      %th= t("active_crm.scheduled.datetime")
      %th= t("active_crm.scheduled.activity")
  %tbody
    - (@customers_scheduled || []).each do |customer|
      - customer.load_scheduled_contacts(params[:scheduled_customer_group_id]).each do |scheduled_contact|
        %tr{"contact-id" => scheduled_contact.contact_id, "customer-id" => customer.id}
          %td= customer.name
          %td= scheduled_contact.contact.name
          %td= scheduled_contact.scheduled
          %td= scheduled_contact.activity


.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#1"} Users
    %li
      %a{"data-toggle" => "tab", :href => "#2"} Employees
  .tab-content
    #1.tab-pane.active
      %table#example1.table.table-bordered.table-striped.dataTable{:style => "white-space:nowrap;overflow:auto;"}
        %thead
          %tr
            %th{:colspan => "2"} Action
            %th User Id  
            %th Username  
            %th First name  
            %th Middle Name  
            %th Last name  
            %th Gender  
            %th Type  
            %th Email Id  
        %tbody
          %tr
            %td
              %a{:href => "edituser.php?id=1"}
                %i.icon-edit
            %td
              %a{:href => "deleteuser.php?id=1"}
                %i.icon-remove
            %td 1
            %td bob
            %td Bob
            %td
            %td Hanks
            %td Male
            %td admin
            %td
          %tr
            %td
              %a{:href => "edituser.php?id=2"}
                %i.icon-edit
            %td
              %a{:href => "deleteuser.php?id=2"}
                %i.icon-remove
            %td 2
            %td george
            %td George
            %td
            %td Brown
            %td Male
            %td user
            %td mail@server.com
          %tr
            %td
              %a{:href => "edituser.php?id=3"}
                %i.icon-edit
            %td
              %a{:href => "deleteuser.php?id=3"}
                %i.icon-remove
            %td 3
            %td gary
            %td Gary
            %td
            %td White
            %td Male
            %td user
            %td mail@server.com
    #2.tab-pane
      %table#example2.table.table-bordered.table-striped{:style => "white-space:nowrap;"}
        %thead
          %tr
            %th{:colspan => "2"} Action
            %th Employee Id  
            %th Username  
            %th First name  
            %th Middle name  
            %th Last name  
            %th Gender  
        %tbody
          %tr
            %td
              %a{:href => "editemployee.php?id=1"}
                %i.icon-edit
            %td
              %a{:href => "deleteemployee.php?id=1"}
                %i.icon-remove
            %td 1
            %td john
            %td John
            %td
            %td Brown
            %td Male
          %tr
            %td
              %a{:href => "editemployee.php?id=2"}
                %i.icon-edit
            %td
              %a{:href => "deleteemployee.php?id=2"}
                %i.icon-remove
            %td 2
            %td iohann
            %td Iohann
            %td
            %td Bach
            %td Male