%table#customer-scheduled.table.table-bordered.table-striped
  %thead
    %tr
      %th= t("customers.name_of")
      %th= t("contacts.title")
      %th= t("scheduleds.scheduled_at")
      %th= t("scheduleds.created_at")
      %th= t("scheduleds.activity")
      %th= t("scheduleds.situation")
  %tbody
    - (@customers_scheduled || []).each do |interaction|
      %tr{"contact-id" => interaction.contact_id, "customer-id" => interaction.deal.customer.id}
        %td#customer_name= interaction.contact.customer.name
        %td#contact_name= interaction.contact.name
        %td#scheduled_at= interaction.scheduled_at.in_time_zone
        %td#scheduled_at= interaction.created_at.in_time_zone
        %td#activity= interaction.activity
        %td#status= prepare_span_status(interaction).html_safe