%table#customer-scheduled.table.table-bordered.table-striped.dataTable
  %thead
    %tr
      %th.span4= t("helpers.label.customers.search.names")
      %th= t("active_crm.scheduled.responsible")
      %th= t("active_crm.scheduled.datetime")
      %th= t("active_crm.scheduled.activity")
  %tbody
    - (@customers_scheduled || []).each do |scheduled|
      %tr{"contact-id" => scheduled.contact_id, "customer-id" => scheduled.person.id}
        %td= scheduled.person.name
        %td= scheduled.contact.name
        %td
          %a{"data-toggle" => "tooltip", "title" => scheduled.scheduled_at}= time_elapsed scheduled.scheduled_at
        %td= scheduled.activity