%table#customer-scheduled.table.table-bordered.table-striped.dataTable
  %thead
    %tr
      %th.span4= t("helpers.label.customers.search.names")
      %th= t("active_crm.scheduled.responsible")
      %th= t("active_crm.scheduled.datetime")
      %th= t("active_crm.scheduled.activity")
  %tbody
    - (@customers_scheduled || []).each do |customer|
      - customer.load_scheduled_contacts(params[:scheduled_customer_group_id]).each do |scheduled_contact|
        %tr{"contact-id" => scheduled_contact.contact_id, "customer-id" => customer.id}
          %td= customer.name
          %td= scheduled_contact.contact.name
          %td= scheduled_contact.scheduled
          %td= scheduled_contact.activity