<div class="control-group">
	<%= show_label_tag t('contacts.name') %>
	<%= @contact.name %>
</div>

<div class="control-group">
      <%= show_label_tag t('contacts.business_function') %>
      <%= @contact.business_function %>
</div>

<div class="control-group">
	<%= show_label_tag t('contacts.phone') %>
  <b><%= @contact.customer.phone %></b>
  <%= @contact.phone %>
</div>

<div class="control-group">
	<%= show_label_tag t('contacts.cell') %>
	<%= @contact.cell %>
</div>

<div class="control-group">
	<%= show_label_tag t('contacts.emails') %>
	<%= concat_emails(@contact.emails) %>
</div>