<%= stylesheet_link_tag "guara/active_crm/scheduleds" %>
<%= javascript_include_tag "/assets/guara/active_crm/scheduled_contacts_form.js" %>

<section id="active_crm">
    <%= render :partial => 'guara/active_crm/scheduleds/navbar', locals: {active: :false} %>

    <div>
        <div>
            <ul class="thumbnails">

              <li class="active_crm customers span12">

                  <div class="panel">

                    <div id="contactables-list" class="list span12">
                      <h6><%= t("active_crm.scheduled.customers_to_register") %></h6>
                      <div id="container_table">
                        <%= render :partial => 'customers_to_register' %>
                        <%= will_paginate(@customers_to_register) %>
                      </div>
                    </div>

                    <div id="customer_show" class="list span12" ></div>
                  </div>

              </li>
              <li class="span12">                
                <h6><%= t("active_crm.scheduled.customers_scheduled") %></h6>
                <table id="customer-scheduled" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="span4"><%= t("helpers.label.customers.search.names") %></th>
                      <th><%= t("active_crm.scheduled.responsible") %></th>
                      <th><%= t("active_crm.scheduled.datetime") %></th>
                      <th><%= t("active_crm.scheduled.activity") %></th>
                    </tr>
                  </thead>

                  <tbody>
                    
                    <% (@customers_scheduled || []).each do |customer| %>
                        <% customer.load_scheduled_contacts(params[:scheduled_customer_group_id]).each do |scheduled_contact|%>
                        <tr customer-id="<%=customer.id%>" contact-id="<%=scheduled_contact.contact_id%>">
                          <td><%= customer.name %></td>
                          <td><%= scheduled_contact.contact.name %></td>
                          <td><%= scheduled_contact.scheduled %></td>
                          <td><%= scheduled_contact.activity %></td>
                        </tr>
                        <% end %>
                    <% end %>

                  </tbody>
                </table>
              </li>
          </ul>
        </div>
    </div>
</section>

<div id="dialog-modal-customer" title="Cliente a Contactar" class="no-close"></div>
<div id="dialog-confirm" title="Deseja Encerrar Negociação?"></div>

<%= javascript_include_tag 'guara/active_crm/scheduled_contacts' %>

<script type="text/javascript">
  var ignored_customers = [];
  <% (session[:ignored_customers].nil? ? [] : session[:ignored_customers]).each do |customer_id| %>
    ignored_customers.push(<%=customer_id%>);
  <% end %>

  ScheduledContacts.init(
    ignored_customers, 
    '<%=new_scheduled_scheduled_customer_group_scheduled_contact_path(params[:scheduled_id], params[:scheduled_customer_group_id], :format=> 'json') %>',
    '<%= close_negociation_path() %>',
    '<%= params[:scheduled_customer_group_id] %>');
  paginate_call();

</script>