<style type="text/css">
.control-group .row{
	margin-left: 0px!important;
}
#vacancy_scheduler_professionals .thumbnail{
	background: #FFF;
	margin-top: 10px;
}
</style>
<section id="vacancy_scheduler_professionals">
		<div class="row-fluid">
	        <ul class="thumbnails">

	      	<li class="span3">
		        <div class="thumbnail">
		          <div id="candidates_unscheduled" class="caption">
		            <% (@scheduleds || []).each do |professional|  %>
					<button id="button_<%= professional.id %>" type="button" class="btn btn-block" 
					onClick="schedule_professional(<%= professional.id %>); ">
		            	<i class="icon-user"></i><%= professional.name %>
		            </button>
					<% end %>
		          </div>
		        </div>
		    </li>

		    <li class="span6">
		        <div class="thumbnail">
		          <div id="form_candidate_selected" class="caption">
		            
		          </div>
		        </div>
		    </li>

	      	<li class="span3">
		        <div class="thumbnail">
		          <div id="candidates_scheduled" class="caption">
		          	<% (@unscheduleds || []).each do |professional|  %>
					<button type="button" class="btn btn-block" 
					onClick="schedule_professional(<%= professional.id %>, true); ">
		            	<i class="icon-user"></i><%= professional.name %>
		            </button>
					<% end %>
		          </div>
		        </div>
	      	</li>
	      
	    </ul>
	  </div>
</section>

<script language="javascript">

function schedule_professional(id, edit_path) {
	form = $('#form_candidate_selected');
	if(edit_path){
		form.load('<%= edit_vacancy_scheduler_professional_path(vacancy)%>?professional_id='+id);	
	}
	else{
		form.load('<%= new_vacancy_scheduler_professional_path(vacancy)%>?professional_id='+id, function(){
			$('#jobs_vacancy_scheduling_professional_vacancy_id').val(<%= vacancy.id %>);
			$('#jobs_vacancy_scheduling_professional_professional_id').val(id);
		});		
	}
}

</script>