<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("custom/nav_logo.png", alt: "Rails"), guara.root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to t("home.link"), guara.root_path %></li>
					<% if signed_in? %>

						<%= build_menu_modules() %>
						
						<%= build_menu_admin() %>

						<%= build_menu_maintence() %>

						<div class="btn-group pull-right">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-cog"></i> <!--%=t("account.link", :user => firstname(current_user))%-->  
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to t("users.profile.link"), user_path(current_user) %></li>
								<li><%= link_to t("users.settings.link"), edit_user_path(current_user) %></li>
								<li class="divider"></li>
								<li><%= link_to t("sign.out.link"), destroy_user_session_path, method: "delete" %></li>
							</ul>
						</div>

					<% else %>
					<li><%= link_to t("sign.in.link"), guara.new_user_session_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>