  <!DOCTYPE html>
<html lang="pt-BR">
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "guara/guara", media: "all" %>
    <%= javascript_include_tag "guara/guara" %>
    <%= stylesheet_link_tag "guara/home_admin.css" %>
    <%= stylesheet_link_tag "guara/custumer_search.css.scss" %>
    <%= stylesheet_link_tag "guara/" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/guara/shim' %>
  </head>
  <body>
    <%= render 'layouts/guara/header' %>
    <section class="container">
	  <div class="alert alert-ajax" style="display: none;"></div>
      <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
	  <%= yield %>
	  <%= render 'layouts/guara/footer' %>
	  <%= debug(params) if Rails.env.development? %>
		</section>
  </body>
</html>