= render partial: "businesses_done"
.span4
  .box-gray-data
    %p
      %b= t("customer_#{@customer.customer.prefix}s.doc")
      %br/
      = nbsp @customer.doc
  .box-gray-data
    %p
      %b= t("customer_#{@customer.customer.prefix}s.doc_rg")
      = nbsp @customer.doc_rg
  .box-gray-data
    %p
      %b= t("customer.site")
      %br/
      = nbsp @customer.site
  .box-gray-data
    %p
      %b= t("customers.social_link")
      %br/
      = nbsp @customer.social_link
  .box-gray-data
    %p
      %b= t("customers.address")
      %br/
      = nbsp @customer.format_address
  .container
    .caption
      - if can? :update, @customer
        = link_to t("helpers.forms.edit"), edit_customer_path(@customer), :class => "new-link btn btn-primary"
.span4
  .box-gray-data
    %p
      %b= t("customers.phone")
      %br/
      = nbsp @customer.phone
      , #{inline_list @customer.phones, :phone}
  .box-gray-data
    %p
      %b= t("customers.emails")
      %br/
      = nbsp inline_list @customer.emails, :email
  .dl-horizontal.box-gray-data.notes.autoscroll.block4
    %p
      %b= t("customers.notes")
      = nbsp simple_format(@customer.notes)
.span4
  .box-gray-data
    %p
      %b Completo?
      %span{:class => "badge #{@customer.complete? ? "badge-success" : "badge-important"}"}= format_boolean @customer.complete
      %br/
      %b= t('custumer.id')
      = @customer.id
  - if @customer_type == "pj"
    .box-gray-data
      %p
        %b= t("customer_pjs.total_employes")
        %br/
        = nbsp @customer.customer.total_employes
    .box-gray-data
      %p
        %b= t("customers.associateds")
      %ul
        = raw "<li> </li>" if @customer.customer.associateds.size == 0
        - @customer.customer.associateds.each do |pj_assoc|
          %li= link_to pj_assoc.name.upcase, customer_path(pj_assoc.person), :target => '_blank'
        - @customer.customer.associates.each do |pj_assoc|
          %li= link_to pj_assoc.name.upcase, customer_path(pj_assoc.person), :target => '_blank'
    .box-gray-data.activities{:style => "overflow-y: scroll; height: 140px; width: 263px;"}
      %ul{:style => "margin:0px;"}
        - @customer.customer.activities.joins(:business_segment).order("guara_business_segments.name").group_by(&:business_segment).each do |segment, activities|
          %li
            %b
              %i.icon-th>
              \ #{segment.name}
          %li
            %ul
              - activities.each do |activity|
                %li
                  %i.icon-tag
                  = activity.name