<section class="show">

	<%= render :partial => "navbar", :locals => { :active => :view } %>
	<%= render :partial => "modules", :locals => { :active => :general} %>
	<ul class="thumbnails">

		<li class="container">
			<div class="thumbnail">

				<%= render partial: "businesses_done" %>

				<div class="span4 box-gray-data">					
					<p>
						<b><%=  t("customers.phone") %></b>
						</br><%= nbsp @customer.phone %>
					</p>
				</div>


				<div class="span3 box-gray-data">					
					<p>
						<b><%=  t('customers.cnpj') %></b>
						</br><%= nbsp @customer.doc %>
					</p>
				</div>

				<div class="span3 box-gray-data">					
					<p>
						<b><%=  t("customer_#{@customer.person.prefix}s.doc_rg") %></b>
						</br><%= nbsp @customer.doc_rg %>
					</p>
				</div>

				<div class="span1 box-gray-data">					
					<p>
						<b><%= t('custumer.id') %></b>
						</br><%= @customer.id %>
					</p>
				</div>

				<div class="span7 box-gray-data">					
					<p>
						<b><%=  t("customers.address") %></b>
						</br><%= nbsp @customer.format_address %>
					</p>
				</div>

				<div class="span4 box-gray-data">					
					<p>
						<b><%=  t("customers.emails") %></b>
						</br><%= nbsp inline_list @customer.emails, :email %>
					</p>
				</div>

				<div class="span7 box-gray-data">					
					<p>
						<b><%=  t("customer.site") %></b>
						</br><%= nbsp @customer.site %>
					</p>
				</div>

				<div class="span4 box-gray-data">					
					<p>
						<b><%=  t("customers.social_link") %></b>
						</br><%= nbsp @customer.social_link %>
					</p>
				</div>

				<div class="span4 box-gray-data">					
					<p>
						<b><%=  t("customer_pjs.segments") %></b>
						</br><%= nbsp inline_list @customer.person.segments, :name %>
					</p>
				</div>

				<div class="span3 box-gray-data">					
					<p>
						<b><%=  t("customer_pjs.activities") %></b>
						</br><%= nbsp inline_list @customer.person.activities, :name %>
					</p>
				</div>

				<div class="span4 box-gray-data">					
					<p>
						<b><%=  t("customer_pjs.total_employes") %></b>
						</br><%= nbsp @customer.person.total_employes %>
					</p>
				</div>

				<div class="span4 box-gray-data">					
					<p>
						<b><%=  t("customers.complete") %></b>
						<span class="badge <%= @customer.complete? ? "badge-success" : "badge-important" %>"><%= format_boolean @customer.complete %></span>
					</p>
				</div>

				<div class="dl-horizontal span3 box-gray-data" id="notes">
					<p>
						<b><%=  t("customers.notes") %></b>

						<div id="complete">
							<%= simple_format(@customer.notes) %>
						</div>
						<%= nbsp simple_format(index_notes(@customer.notes)) %>
				</div>

				<div class="span4 box-gray-data">					
					<p>
						<b><%=  t("customers.associateds") %></b>
						</br>
						<ul class="span3">
							<% @customer.person.associateds.each do |pj_assoc| %>
							<li><%= link_to pj_assoc.name.upcase, customer_path(pj_assoc.customer), :target => '_blank' %></li>
							<% end %>

							<% @customer.person.associates.each do |pj_assoc| %>
							<li><%= link_to pj_assoc.name.upcase, customer_path(pj_assoc.customer), :target => '_blank' %></li>
							<% end %>
						</ul>
					</p>
				</div>						


				<div class="container">
					<div class="caption">
						<% if can? :update, @customer  %>
						<%= link_to t("helpers.forms.edit"), edit_customer_path(@customer), :class => "new-link btn btn-primary" %>
						
						<% end %>
					</div>
				</div>

			</div>
		</li>

		<li class="container">
			<div class="thumbnail contacts">
				<div class="caption">
					<legend><%=t("contacts.side.title") %></legend>
					<%= render :partial => "guara/contacts/list_contacts" %>
					
				</div>
			</div>
		</li>
		<li class="container">
			<div class="thumbnail contacts">
				<div class="caption">
					<legend><%=t("tasks.side.title") %></legend>
					<%= render :partial => "guara/tasks/side_panel" %>
				</div>
			</div>
		</li>

	</ul>

</section>
<script>

$(function(){

	$("input.cnpj").mask("99.999.999/9999-99");
	$("input.cpf").mask("999.999.999-99");

	$('#state').change(function(){
		if( $(this).val() ) {
			$('#cod_cidades').hide();
			$('.carregando').show();
			$.getJSON('<%= districts_path() %>.json?search=',{cod_estados: $(this).val(), ajax: 'true'}, function(j){
				var options = '<option value="">[Escolha um estado]</option>';	
				for (var i = 0; i < j.length; i++) {
					options += '<option value="' + j[i].cod_cidades + '">' + j[i].nome + '</option>';
				}	
				$('#cod_cidades').html(options).show();
				$('.carregando').hide();
			});
		} else {
			$('#cod_cidades').html('<option value="">[Escolha um estado]</option>');
		}
	});


	$('#notes').mouseenter(function(){
		$('#notes #complete').fadeIn();
	}).mouseleave(function(){
		$('#notes #complete').fadeOut();		
	})
});

</script>

<style>

#notes #complete {
	background: #ffffff;
	border: 1px solid #f1f1f1;
	padding: 5px;
	position: absolute;
	float: left;
	width: 380px;
	height: 300px;
	overflow: scroll;
	display: none;
}
</style>

</section>