<section class="show">

	<%= render :partial => "navbar", :locals => { :active => :view } %>
	<%= render :partial => "modules", :locals => { :active => :general} %>
	<ul class="thumbnails">

		<li class="container">
			<div class="thumbnail">

				<%= render partial: "businesses_done" %>

				<div class="span4">
					
					
					
					<div class="box-white-data">					
						<p>
							<b><%=  t("customer_#{@customer.customer.prefix}s.doc") %></b>
							<br><%= nbsp @customer.doc %>
						</p>
					</div>
					
					<div class="box-white-data">
						<p>
							<b><%=  t("customer_#{@customer.customer.prefix}s.doc_rg") %></b>
							</br><%= nbsp @customer.doc_rg %>
						</p>
					</div>

					<div class="box-white-data">					
						<p>
							<b><%=  t("customer.site") %></b>
							<br><%= nbsp @customer.site %>
						</p>
					</div>

					<div class="box-white-data">					
						<p>
							<b><%=  t("customers.social_link") %></b>
							<br><%= nbsp @customer.social_link %>
						</p>
					</div>

					<div class="box-white-data">					
						<p>
							<b><%=  t("customers.address") %></b>
							<br><%= nbsp @customer.format_address %>
						</p>
					</div>

					<div class="container">
						<div class="caption">
							<% if can? :update, @customer  %>
							<%= link_to t("helpers.forms.edit"), edit_customer_path(@customer), :class => "new-link btn btn-primary" %>
							
							<% end %>
						</div>
					</div>

				</div>

				<div class="span4">
					<div class="box-white-data">					
						<p>
							<b><%=  t("customers.phone") %></b>
							<br><%= nbsp @customer.phone %>, <%= inline_list @customer.phones, :phone %>
						</p>
					</div>
					
					<div class="box-white-data">					
						<p>
							<b><%=  t("customers.emails") %></b>
							<br><%= nbsp inline_list @customer.emails, :email %>
						</p>
					</div>

					<div class="dl-horizontal box-white-data notes autoscroll block4">
						<p>
							<b><%=  t("customers.notes") %></b>
							<%= nbsp simple_format(@customer.notes) %>
					</div>
					
				</div>


				<div class="span3">
					<div class="box-white-data">					
						<p>
							<b>Completo?</b>
							<span class="badge <%= @customer.complete? ? "badge-success" : "badge-important" %>"><%= format_boolean @customer.complete %></span>
							<br>
							<b><%= t('custumer.id') %></b>
							<%= @customer.id %>
						</p>
						
					</div>
					
					<% if @customer_type == "pj" %>
					<div class="box-white-data">					
						<p>
							<b><%=  t("customer_pjs.total_employes") %></b>
							<br><%= nbsp @customer.customer.total_employes %>
						</p>
					</div>
					
					<div class="box-white-data">					
						<p>
							<b><%=  t("customers.associateds") %></b>
							<ul>
								<%= raw "<li>&nbsp</li>" if @customer.customer.associateds.size == 0 %>
								<% @customer.customer.associateds.each do |pj_assoc| %>
								<li><%= link_to pj_assoc.name.upcase, customer_path(pj_assoc.person), :target => '_blank' %></li>
								<% end %>
								<% @customer.customer.associates.each do |pj_assoc| %>
								<li><%= link_to pj_assoc.name.upcase, customer_path(pj_assoc.person), :target => '_blank' %></li>
								<% end %>
							</ul>
						</p>
					</div>
					
					<div class="box-white-data activities" style="overflow-y: scroll; height: 140px; width: 263px;">
								<ul style="margin:0px;"><%  @customer.customer.activities.joins(:business_segment).order("guara_business_segments.name").group_by(&:business_segment).each do |segment, activities| %>
											<li>
												<b><i class="icon-th"></i>&nbsp;<%= segment.name %></b>
											</li>
											<li>
												<ul>
												<% activities.each do |activity|  %>
												<li><i class="icon-tag"></i> <%= activity.name %></li>
												<% end %>
												</ul>
											</li>
									<% end %></ul>
					</div>
					
					<% end %>

				</div>

			</div>
		</li>
<%	if can? :read, Guara::Contact %>
		<li class="container">
			<div class="thumbnail contacts">
				<div class="caption">
					<legend><%=t("contacts.side.title") %></legend>
					<%= render :partial => "guara/contacts/list_contacts" %>
					
				</div>
			</div>
		</li>
<% end %>
<%	if can? :read, Guara::Task %>
		<li class="container">
			<div class="thumbnail contacts">
				<div class="caption">
					<legend><%=t("tasks.side.title") %></legend>
					<%= render :partial => "guara/tasks/side_panel" %>
				</div>
			</div>
		</li>
<% end %>
	</ul>

</section>
<script>

$(function(){

	$("input.cnpj").mask("99.999.999/9999-99");
	$("input.cpf").mask("999.999.999-99");

	$('#state').change(function(){
		if( $(this).val() ) {
			$('#cod_cidades').hide();
			$('.carregando').show();
			$.getJSON('<%= districts_path() %>.json?search=',{cod_estados: $(this).val(), ajax: 'true'}, function(j){
				var options = '<option value="">[Escolha um estado]</option>';	
				for (var i = 0; i < j.length; i++) {
					options += '<option value="' + j[i].cod_cidades + '">' + j[i].nome + '</option>';
				}	
				$('#cod_cidades').html(options).show();
				$('.carregando').hide();
			});
		} else {
			$('#cod_cidades').html('<option value="">[Escolha um estado]</option>');
		}
	});


	$('.notes').mouseenter(function(){
		$('.notes .complete').fadeIn();
	}).mouseleave(function(){
		$('.notes .complete').fadeOut();		
	})
	
	
	$('.activities').mouseenter(function(){
		$('.activities .complete').fadeIn();
	}).mouseleave(function(){
		$('.activities .complete').fadeOut();		
	})
	
});

</script>

<style>

.notes .complete {
	background: #ffffff;
	
	border: 1px solid #f1f1f1;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	padding: 5px;
	
	position: absolute;
	float: left;
	width: 380px;
	height: 300px;
	overflow: scroll;
	display: none;
}

.4blocks {
	min-height: 230px;
}
.autoscroll {
	overflow-y: scroll;
}

.activities .complete {
	background: #ffffff;
	
	border: 1px solid #f1f1f1;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	padding: 5px;
	
	position: absolute;
	float: left;
	width: 450px;
	height: 300px;
	margin-left: -250px;
	
	display: none;
	overflow: scroll;
}

</style>

</section>