<div style="padding:10px;">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t("inter_view_professionals.id") %></th>
          <th><%= t("inter_view_professionals.professional_id") %></th>
          <th><%= t("inter_view_professionals.result") %></th>
          <th><%= t("inter_view_professionals.work_start_date") %></th>
          <th><%= t("inter_view_professionals.salary") %></th>
          <th><%= t("inter_view_professionals.vacancy_final_result?") %></th>
        </tr>
      </thead>
      <tbody>
    <% @psychological.each do |psychologic| %>
        <tr>
           <th><%= psychologic.id %></th>
           
           <th><%= psychologic.scheduling.professional.person.name %></th>
           
           <th><%= Guara::Jobs::CustomerInterviewReturn.levels_translated()[psychologic.vacancy_final_result.result] if !psychologic.vacancy_final_result.nil? %></th>
          
           <th><%= format_date psychologic.vacancy_final_result.work_start_date if !psychologic.vacancy_final_result.nil? and  !psychologic.vacancy_final_result.work_start_date.nil? %>
           </th>
           
           <th><%= psychologic.vacancy_final_result.salary if !psychologic.vacancy_final_result.nil?%></th>
           
           <th>
            <% if psychologic.vacancy_final_result.nil? %>
              <span class="badge badge-important">Não</span>
            <% else %>
              <span class="badge badge-success">Sim</span>
            <% end %>
           </th>
        
        </tr>
      <% end %>

      </tbody>
   </table>
</div>   

<script type="text/javascript">
  
</script>